@import "../common.scss";

.collect-list-container {

  @include s_border_t;
  .collect-list {
    overflow: auto;
    .collect-item {
      padding-bottom: 10px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background: $bg-ff;
      &.active {
        .collect-item-left {
          width: 125px;
        }
        .collect-item-right {
          width: 120px;
        }
      }
      .collect-item-left {
        @include sc_img_container(250px, 250px);
        margin-right: 20px;
        -webkit-transition: .3s;
        transition: .3s;
      }
      .collect-item-mid {
        @include s_border_b;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        height: 224px;
        padding-right: 30px;
        padding-bottom: 36px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        .collect-item-mid-top {
          padding-top: 16px;
          @include s_fontDemo(28px, 35px, $font-33);
        }
        .collect-item-mid-bottom {
          height: 40px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
        }
      }
      .collect-item-right {
        width: 0px;
        @include s_fontDemo(28px, 260px, $font-ff);
        background: $font-f48;
        text-align: center;
        height: 260px;
        overflow: hidden;
        -webkit-transition: .3s;
        transition: .3s;
      }
    }
  }
}
