@import "../common.scss";

.order-list-container {

  .fitlers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: $bg-ff;
    @include s_border_b;
    li {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      @include s_fontDemo(28px, 90px, $font-66);
      text-align: center;
      box-sizing: border-box;
      border-bottom: 5px solid $font-ff;
      &.active {
        color: $theme;
        font-size: 32px;
        font-weight: bold;
        border-bottom: 5px solid $theme;
      }
    }
  }
  .order-list {
    overflow: auto;
    height: calc(100% - 90px);
    -webkit-overflow-scrolling: touch;
    .order-item {
      background: $bg-ff;
      margin-bottom: 20px;
      .order-item-title {
        height: 96px;
        padding-left: 30px;
        padding-right: 30px;
        p {
          float: left;
          &:nth-of-type(1) {
            @include sc_img_container(36px, 36px);
            margin-top: 30px;
            margin-right: 20px;
          }
          &:nth-of-type(2) {
            @include s_fontDemo(28px, 96px, $font-33);
          }
          &:nth-of-type(3) {
            float: right;
            @include s_fontDemo(28px, 96px, $theme);
          }
        }
      }
      .order-item-info {
        background: $bg-f8;
        padding: 20px 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 10px;
        &:last-of-type {
          margin-bottom: 0;
        }
        p {
          &:nth-of-type(1) {
            @include sc_img_container(150px, 150px);
            margin-right: 20px;
          }
          &:nth-of-type(2) {
            @include s_fontDemo(28px, 35px, $font-33);
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            span {
              display: block;
              &:nth-of-type(2) {
                margin-top: 13px;
                @include s_fontDemo(24px, 30px, $font-ad);
              }
            }
          }
          &:nth-of-type(3) {
            float: right;
            text-align: right;
            @include s_fontDemo(28px, 28px, $font-33);
            width: 140px;
            span {
              display: block;
              &:nth-of-type(2) {
                @include s_fontDemo(24px, 34px, $font-ad);
              }
              &:nth-of-type(3) {
                @include s_fontDemo(24px, 38px, #ff6e19);
              }
            }
            del {
              margin-top: 10px;
              @include s_fontDemo(28px, 28px, $font-ad);
            }
          }
        }
      }
      .order-item-num {
        @include s_fontDemo(24px, 87px, $font-33);
        text-align: right;
        @include s_border_b;
        padding-right: 30px;
        span:nth-of-type(2) {
          font-size: 32px;
        }
      }
      .order-item-edit {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 94px;
        padding-right: 30px;
        p {
          @include s_blockDemo(152px, 52px);
          border:1px solid #999999;
          border-radius:4px;
          @include s_fontDemo(24px, 52px, $font-99);
          text-align: center;
          &:nth-of-type(1) {
            margin-right: 20px;
          }
          &:nth-of-type(2), &.high-light {
            color: $font-ff;
            background: $theme;
            border-color: $theme;
          }
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
  /* 默认样式*/
  .cancel-order-picker.am-list-item .am-list-line {
    @include s_blockDemo(152px, 52px);
    font-size: 0.24rem;
    line-height: 0.52rem;
    color: $font-99;
    text-align: center;
    padding-right: 10px;
    border-bottom: none;
    .am-list-extra {
      display: none;
    }
    .am-list-content {
      border:1px solid #999999;
      @include s_fontDemo(24px !important, 52px, $font-99 !important);
      border-radius: 0.04rem;
      text-align: center;
      padding: 0;
    }
  }
}
