@import "../common.scss";

.order {
  max-height: 100%;
  padding-bottom: 1.3rem;
  .cart-brand-item {
    margin-top: 20px;
  }
  .freight {
    background: $bg-ff;
    @include s_fontDemo(28px, 89px, $font-33);
    @include s_border_b;
    padding-left: 30px;
    padding-right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 99px;
    @include s_border_t;
    background: $bg-ff;
    span {
      line-height: 99px;
    }
    .footer-left {
      float: left;
      padding-left: 30px;
    }
    .sell-price {
      float: left;
    }
    .footer-right {
      float: right;
      width: 260px;
      @include s_fontDemo(34px, 99px, $font-ff);
      text-align: center;
      background: $disable;
      &.active {
        background: $theme;
      }
    }
  }

  /* cart-brand-item样式*/
  .cart-brand-item-title {
    background: $bg-ff;
    .cart-commodity-item {
      margin-bottom: 10px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
