@import "../common.scss";

.refund-list-container {

  .refund-list {
    overflow: auto;
    height: 100%;
    .refund-item {
      background: $bg-ff;
      margin-bottom: 20px;
      .refund-item-title {
        height: 96px;
        padding-left: 30px;
        padding-right: 30px;
        p {
          float: left;
          &:nth-of-type(1) {
            @include sc_img_container(36px, 36px);
            margin-top: 30px;
            margin-right: 20px;
          }
          &:nth-of-type(2) {
            @include s_fontDemo(28px, 96px, $font-33);
          }
          &:nth-of-type(3) {
            float: right;
            @include s_fontDemo(28px, 96px, $theme);
          }
        }
      }
      .refund-item-info {
        background: $bg-f8;
        padding: 20px 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        .commodity-img {
          @include sc_img_container(150px, 150px);
          margin-right: 20px;
        }
        .refund-item-info-right {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1;
          .refund-item-info-right-top {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            p {
              &:nth-of-type(1) {
                @include s_fontDemo(28px, 35px, $font-33);
                -webkit-box-flex: 1;
                    -ms-flex: 1;
                        flex: 1;
                span {
                  display: block;
                  &:nth-of-type(2) {
                    margin-top: 13px;
                    @include s_fontDemo(24px, 30px, $font-ad);
                  }
                }
              }
              &:nth-of-type(2) {
                width: 140px;
                @include s_fontDemo(24px, 35px, $font-ad);
                text-align: right;
                span {
                  display: block;
                }
              }
            }
          }
          .refund-item-info-right-bottom {
            @include s_fontDemo(24px, 32px, $font-f48);
            padding-top: 12px;
            padding-bottom: 18px;
            text-align: right;
          }
        }
      }
      .refund-status {
        @include s_fontDemo(28px, 84px, $font-33);
        @include s_border_b;
        padding-left: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        .am-icon {
          margin-right: 15px;
        }
        span:first-of-type {
          margin-right: 20px;
        }
      }
      .refund-item-edit {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 94px;
        padding-right: 30px;
        p {
          @include s_blockDemo(152px, 52px);
          border:1px solid $theme;
          border-radius:4px;
          @include s_fontDemo(24px, 52px, $theme);
          text-align: center;
        }
      }
    }
  }

}
