.detail-container{
  .detail-main-container{height: calc(100% - 100px);overflow-y: scroll;-webkit-overflow-scrolling: touch;}
  .img-box{width: 100%;height: 300px;}
  .basisSpan{
    background-color: #fff;height: 90px;line-height: 90px;font-size: 28px;padding: 0 30px;width: 100%;
    box-sizing: border-box;border-bottom: 1px solid #e5e5e5;
  }
  .title-info{
    .areaName{
      font-size: 32px;color: #333;width: 65%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
      display: inline-block;
    }
    .hoursSection{
      font-size: 28px;color: #999;background-image: url('../image/clock.png');
      background-repeat: no-repeat;background-position: left center;background-size: 24px;float: right;
      display: inline-block;box-sizing: border-box;height: 100%;text-align: right;padding-left: 30px;max-width: 35%;
      overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
    }
  }
  .price{
    span:nth-child(1){color: #333;}
    span:nth-child(2){color: #ff4848; float: right;}
  }
  .airportTerminal, .check, .loungeAddress, .rule, .times{
    font-size: 28px;
    span:nth-child(1){color: #333;display: inline-block;width: 35%;}
    span:nth-child(2){color: #666;}
  }
  .loungeAddress, .facilities, .regulations{
    background-color: #fff;font-size: 28px;padding: 20px 30px;width: 100%;
    box-sizing: border-box;border-bottom: 1px solid #e5e5e5;line-height: 40px;margin-bottom: 22px;
    span:nth-child(1){color: #333;display: inline-block;width: 35%;vertical-align: top;}
    span:nth-child(2){color: #666;display: inline-block;width: 65%;}
  }
  .facilities, .regulations{margin-bottom: 0}
  .times{margin-bottom: 50px;}
  .buy-btn{
    width: 100%;height: 100px;background-color: #ffab00;color: #fff;font-size: 38px;text-align: center;line-height: 100px;
  }
}

.am-list-item .am-list-line .am-list-content{font-size: 28px;color: #333;}
.slider-frame, .slider-frame ul{height: 100% !important;}
.am-carousel-wrap-dot-active > span{background-color: #ffab00;}
.slider-decorator-0{bottom: 20px !important;}
.am-picker-popup-header-left{color: #999 !important;}
.am-picker-popup-title{color: #333 !important;}
.am-picker-popup-item{color: #ffab00;}
.am-picker-popup-header{height: 80px}
