input{border: 0}
.am-tabs-bar .am-tabs-tab-active{color: #ff9a00;}
.am-tabs-ink-bar{background-color: #ff9a00;}
.am-tabs-bar .am-tabs-tab{height: 90px;line-height: 90px;}

.areaInfo-box{
  width: 100%;height: 205px;padding: 20px 30px;box-sizing: border-box;border-bottom: 1px solid #e5e5e5;background-color: #fff;
  .areaInfo-img-box{
    width: 150px;height: 164px;display: inline-block;margin-right: 20px;
    img{width: 100%;height: 100%;}
    span{
      background-color: #ffab00;width: 100%;color: #fff;height: 30px;font-size: 22px;display: inline-block;text-align: center;
      line-height: 30px;position: relative;bottom: 30px;opacity: 0.95;
    }
  }
  .areaInfo-info-box{
    width: calc(100% - 170px);display: inline-block;vertical-align: top;margin-top: 10px;
    h3{
      width: 100%;margin: 0;font-weight: normal;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;
      font-size: 32px;color: #333;
    }
    .hoursSection{
      width: calc(100% - 35px);display: inline-block;margin-top: 25px;font-size: 28px;color: #999;padding-left: 35px;
      background-image: url('../image/clock.png');background-size: 24px;background-repeat: no-repeat;
      background-position: left center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
    }
    .airportTerminal{
      display: inline-block;margin-top: 20px;font-size: 28px;color: #999;padding-left: 35px;
      background-image: url('../image/address.png');background-size: 24px;background-repeat: no-repeat;
      background-position: left center;
    }
    .price{
      display: inline-block;float: right;margin-top: 15px;color: #ff4848;
      span:nth-child(1){font-size: 24px;}
      span:nth-child(2){font-size: 40px;margin-left: 5px;}
    }
  }
}

.index-main-container{
  width: 100%;height: calc(100% - 100px);overflow-y: scroll;
}

.index-bottom-container{
  width: 100%;height: 100px;background-color: #7e786b;opacity: 0.95;color: #fff;position: absolute;bottom: 0;left: 0;
  .airportTerminal-box{
    display: inline-block !important;width: calc(100% / 3);text-align: center;vertical-align: top;
    span{width: 100%;}
  }
  span{
    width: calc(100% / 3);display: inline-block;text-align: center;font-size: 24px;background-repeat: no-repeat;
    background-size: 50px;background-position: center 10px;padding-top: 70px;
  }
  .airport{background-image: url('../image/airport.png');}
  .airportTerminal{background-image: url('../image/build.png');}
  .international{background-image: url('../image/loc.png');}
}

.am-list-item .am-list-line .am-list-content{font-size: 28px;color: #333;}
.slider-frame, .slider-frame ul{height: 100% !important;}
.am-carousel-wrap-dot-active > span{background-color: #ffab00;}
.slider-decorator-0{bottom: 20px !important;}
.am-picker-popup-header-left{color: #999 !important;}
.am-picker-popup-title{color: #333 !important;}
.am-picker-popup-item{color: #ffab00;}
.am-picker-popup-header{height: 80px}
