@import "../../../styles/index.scss";
*{margin: 0;padding: 0;}

.order-container{
  .order-info-container{
    width: 95%;margin: 32px auto;background-color: #fff;border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(153,153,153,0.50);padding: 0 30px;box-sizing: border-box;
    .main-info-box{
      height: 100px;border-bottom: 1px solid #e5e5e5;padding: 30px 0;
      span{line-height: 40px;}
      span:nth-child(1){
        width: 75%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;background-image: url('../image/card.png');
        background-repeat: no-repeat;background-size: 38px;display: inline-block;text-indent: 50px;height: 100%;
        background-position: left center;vertical-align: top;font-size: 32px;
      }
      span:nth-child(2){display: inline-block;width: 25%;height: 100%;text-align: right;color: #ff4848;font-size: 36px;}
    }
    .inTimes, .times{
      width: 100%;border-bottom: 1px solid #e5e5e5;height: 80px;line-height: 40px;font-size: 28px;padding: 20px 0;
      span:nth-child(1){}
      span:nth-child(2){float: right;}
    }
  }
}
.buttomBar-container{
  bottom: 0;left: 0;width: 100%;height: 100px;position: absolute;
  .price-box{
    width: 60%;height: 100%;background-color: #fff;display: inline-block;float: left;line-height: 100px;
    .you-will-pay{display: inline-block;height: 100%;text-indent: 30px;font-size: 32px;color: #ff4848;}
    .discount-price{display: inline-block;height: 100%;margin-left: 7px;font-size: 24px;color: #999;}
  }
  .save-order{
    width: 40%;background-color: #ff9a00;height: 100%;display: inline-block;color: #fff;font-size: 38px;
    border: 0;
  }
}

.am-list-extra p{margin: 0 !important;}
