
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img { border:none; }
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul, ol { list-style:none; }
input{outline: none; border:none;}
body,html{width:100%; height:100%; margin: 0; background: rgb(245,245,246);}
html{font-size: 26.67vw; overflow-x:hidden;}
body { color:#606060; font-size:0.17rem; font-family: PingFangSC-Regular;  position: relative;}
a{font-size:0.17rem; font-family: PingFangSC-Regular; line-height:0.16rem; color:#f97e19; text-decoration:none; }
