@mixin allCenter{position: absolute; left: 50%; top: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);}
@mixin center{position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
@mixin middle{position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
$grey000:rgb(109,109,109);
$grey555:rgb(153,153,153);
$grey111:rgb(219,219,219);
$grey222:rgb(229,229,229);
$grey777:rgb(170,170,170);
$black111:rgb(17,17,17);
$orange570: #ffab00;
$orange542:rgb(255,247,229);

@mixin blockDemo($wid, $hei){width:$wid; height:$hei;}
@mixin fontDemo($size, $color, $lineH){font-size: $size; color: $color; line-height: $lineH;}
@mixin allZero{margin:0; padding: 0;}


/* 默认样式修改*/
/* 输入框样式修改*/
.am-list-item.am-input-item:after { border-bottom: none; }
.am-list-item.am-input-item { padding-right: 0; padding-left: 0; }     /*使清除图标右移*/

/* 自定义样式*/
body{
  overflow-x: hidden;
  background-color: #fff;
  font-family: PingFangSC-Regular !important;
  #root{
    overflow: hidden;
    .hf{
      position: relative;
      min-height: 7rem;
      padding-bottom: 1.12rem;
      .header{
        background-color: #fff;
        border-bottom: 1px solid $grey222;
        height: 119px;
        position: relative;
        .number{
          @include middle;
          padding-left: 30px;
          width: 100%;
          .am-input-item{
            font-size:40px;
            height: auto;
            min-height: 0;
            .am-input-control input{
              font-size: .40rem;
              height: 56px;
              color:#333333;
              &::-webkit-input-placeholder { /* WebKit browsers */
                font-size: .34rem;
              }
              &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                font-size: .34rem;
              }
              &::-moz-placeholder { /* Mozilla Firefox 19+ */
                font-size: .34rem;
              }
              &:-ms-input-placeholder { /* Internet Explorer 10+ */
                font-size: .34rem;
              }
            }
          }
          .clear-phone, .icon-container{
            width: 44px;
            height: 44px;
            @include middle;
            right: 60px;
          }
          .icon-container{
            z-index: 100;
          }
          .area{
            font-size:24px;
            color:#999999;
          }
        }
      }


      .phone-history{
        overflow: hidden;
        position: absolute;
        width: 100%;
        top: .9rem;
        left: 0;
        background: #fff;
        z-index:10;
        padding-bottom: .88rem;
        li{
          background-color: #fff;
          height: .88rem;
          line-height: .88rem;
          padding-left: .3rem;
          font-size: .4rem;
          color: $black111;
          border-bottom: 1px solid $grey222;
          &.clearHistory{
            width: 100%;
            color: #999;
            text-align: center;
            font-size: .28rem;
            position: absolute;
            bottom: 0;
            z-index: 20;
            // border-top: 1px solid $grey222;
            .del-icon{
              @include middle;
              left: 280px;
            }
            span {
              padding-left: .5rem;
            }
          }
        }
      }

      .container{
        margin: 0 29px;
        width: 100%;
        overflow: hidden;
        .inline {
          width: 2.15rem;
          height: 1.4rem;
          margin: 0.2rem 0 0.2rem;
          float: left;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: -moz-flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-flow: column;
                  flex-flow: column;
          background: #fff;
          border: 1px solid #ccc;
          border-radius: .06rem;
          margin-right: 20px;
          @for $i from 1 to 10{
            &:nth-of-type(#{$i*3}){margin-right:0;}
          }
          h1{
            @include fontDemo(0.4rem, #333333, .56rem)
            font-weight: normal;
            margin-bottom: 4px;
          }
          p{
            @include fontDemo(.2rem, #333333, .28rem)
            margin-top: 0;
          }
          &.active{
            border-color: $orange570;
            h1, p{
              color: $orange570;
            }

          }
        }
      }

      .footer{
        padding-left: .3rem;
        position: fixed;
        border-top: 1px solid $grey222;
        bottom: 0;
        width: 100%;
        background: #fff;
        z-index: 20;
        .pay-price{
          float: left;
          @include fontDemo(.28rem, #ff4848, 1.12rem);
          .cur-price{
            font-size: 36px;
            margin-right: 10px;
          }
          .real-price{
            font-size:20px;
            color:#999999;
            line-height: 36px;
          }
        }
        .active-popup-icon {
          left: 395px;
          width: 41px;
          height: 41px;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%) rotate(0deg);
                  transform: translateY(-50%) rotate(0deg);
          &.active{
            -webkit-transform: translateY(-50%) rotate(180deg);
                    transform: translateY(-50%) rotate(180deg);
          }
        }
        .active-popup-container {
          top: -115px;
        }
        .button{
          float: right;
          @include blockDemo(280px, 112px);
          @include fontDemo(34px, #fff, 112px);
          text-align:center;
          background-color: $grey111;
          &.active{
            background-color: $orange570;
            color: #fff;
          }
        }
      }
    }
  }
}
