.condition{
  .am-list-body{
    border-top: none;
  }
  .am-list-body:after {
    border-bottom: none;
  }
  // height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  .am-button{ background:#ffab00;border: 1PX solid #ffab00;color:#ffffff;}
  .am-button.am-button-active{ background:#ffab00;border: 1PX solid #ffab00;}
  .am-button.am-button-disabled{ background:#d6d6d6;border: 1PX solid #d6d6d6;color:#ffffff;}
  .am-input-item{padding-top: 0.14rem;padding-bottom: 0.14rem;}

  .tipCar{font-size: 0.25rem;color:#ffab00;}
  .tipInfo{color:#999999;font-size: 0.25rem;line-height: 1.5;}


  .am-list-header{
    font-family:PingFangSC-Regular;
    font-size:0.24rem;
    color:#666666;
  }
  .am-list-item .am-input-extra{
    max-height:0.55rem;
  }
  .yanzhengma{
    display: block;
    border:1px solid #ffa000;
    border-radius:0.1rem;
    text-align: center;
    line-height: 0.5rem;
    color: #ffa000;
    width:1rem;
    height:0.5rem;
  }
  .yanzhengm{
    border:1px solid #999999;
    color: #999999;
  }
  .redTip{
    font-size:0.24rem;
    color:#ff5656;
  }
  .am-list-item,.am-list-item .am-input-label,.am-list-item .am-list-line .am-list-content,.am-list-item .am-input-control input{font-size: 0.3rem}
  .moreinfo{
    .am-list-item .am-input-label.am-input-label-5{
      width: 2.6rem;
    }
    .am-wingblank.am-wingblank-md{
      margin: 0;
    }
  }
  .am-image-picker .am-image-picker-list .am-image-picker-upload-btn,.am-image-picker-item{
      margin: 0;
      border: 0.02rem dashed #ddd;
      width: 100% !important;
      height: 4.3rem !important;
  }
  .am-image-picker .am-image-picker-list .am-image-picker-upload-btn input{
    width: 100% !important;
    height: 4.3rem !important;
  }
  .am-image-picker .am-image-picker-list .am-flexbox-item{
    display: none;
    &:first-child{
      display: inline-block;
      width: 100% !important;
      height: 4.3rem !important;
    }
  }
  .tipImg{
    width: 0.4rem;
    height:0.4rem;
    float:right;
    margin-top:0.01rem;
  }

}
.wrapTipimg{
  z-index: 2;
  width: 5.8rem;
  height:3.9rem;
  position: absolute;
  top:50%;
  left:50%;
  transform: translateY(-80%) translate(-50%);
  transform: translateY(-80%) translate(-50%);
  -ms-transform: translateY(-80%) translate(-50%);
  -moz-transform: translateY(-80%) translate(-50%);
  -webkit-transform: translateY(-80%) translate(-50%);
  -o-transform: translateY(-80%) translate(-50%);
  img{
    width: 5.8rem;
    height:3.9rem;
  }
}

.detalImg{
  text-align: center;
  z-index: 2;
  width: 100%;
  max-height: 6.5rem;
  overflow-x: auto;
  position: absolute;
  top:50%;
  left:50%;
  transform: translateY(-50%) translate(-50%);
  transform: translateY(-50%) translate(-50%);
  -ms-transform: translateY(-50%) translate(-50%);
  -moz-transform: translateY(-50%) translate(-50%);
  -webkit-transform: translateY(-50%) translate(-50%);
  -o-transform: translateY(-50%) translate(-50%);
  background: #ffffff;
  img{
    height: 100%;
  }
}
