.order{
  // height: 100%;
  .orderWrap{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: calc( 100% - 1rem);
  }
  .am-list-header{
    font-size: 0.24rem;
    line-height: 1.8;
    color:#333333;
  }
  .top{
    .am-list-content{
      div{
        p{
          &:first-child{
            font-size:0.3rem;
            color:#333333;
          }
          &:last-child{
            font-size:0.24rem;
            color:#333333;
            span{
              margin-right: 0.3rem;
            }
          }
        }
      }
    }
  }

  .am-accordion .am-accordion-item .am-accordion-header:after{
    width: calc( 100% - 0.3rem );
    left: 0.3rem;
  }
  /*
    列表
  */
  .am-accordion .am-accordion-item .am-accordion-header{
    font-size:0.28rem;
    color:#333;
    span{
      color:#999999;
      margin-right: 0.1rem;
    }
  }
  .am-list-item .am-list-line .am-list-content{
    font-size:0.3rem;
    color:#111111;
  }
  .am-list-item .am-list-line .am-list-extra{
    font-size: 0.3rem;
    color:#999999;
  }
  .fontCol{
    color:#ffab00;
  }
  /*
    卡片
  */
  .pecCard{
    .am-card-header{
      font-size: 0.24rem;
      .am-card-header-content{
        p{
          color:#888;
          width: 100%;
          span{
            float: right;
            color: #ff4848;
          }
        }
      }
    }
    .am-card-body{
      min-height: auto;
      font-size: 0.28rem;
      white-space: normal;
      p{
        padding: 0;
        margin: 0.1rem 0;
        font-size: 0.24rem;
        color:#888;
      }
    }
    .am-card-footer{
        padding: 0.12rem 0 0;
        border-top: 1PX solid #ddd;
        .cardFootli{
          padding: 0.18rem 0;
          text-align: center;
          font-size: 0.24rem;
        }
        .cardFootli:nth-child(2){
          border-left: 1PX solid #ddd;
          border-right: 1PX solid #ddd;
        }
    }
    .am-list-body:after{
      border: none;
    }
    .am-list .am-list-item.am-checkbox-item .am-list-thumb .am-checkbox{
      height: 100%;
    }
    .am-list .am-list-item.am-checkbox-item .am-list-thumb .am-checkbox-inner{
      top: 45%
    }
    .cardFootli{
      span{
        margin-left:0.1rem;
        color:#ffab00;
      }
    }

    .am-list-body div:not(:last-child) .am-list-line:after{
      border-bottom:none;
    }
  }
  /*
  */
  .am-wingblank-md{
    margin: 0;
    padding: 0.2rem 0.3rem 2rem;
  }
  .tipInfo{
    color:#999999;
    font-size: 0.25rem;
    line-height: 1.5;
  }

  /*
    底部
   */
   .pecBotm{
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 1rem;
     line-height: 1rem;
     z-index: 99;
     padding-left: 0.3rem;
     background:#fff;
     color:#ff9a00;
     box-sizing: border-box;
     span{
        float: right;
        display: block;
        font-size:0.34rem;
        background:#ffab00;
        width:40%;
        text-align: center;
        color: #fff;
     }
   }
}
