@import "../common.scss";

.evaluate-item {
  background: $bg-ff;
  .evaluate-header {
    padding: 20px 23px 0;
    @include s_border_b;
    .evaluate-item-info {
      @include s_fontDemo(28px, 60px, $font-66);
      margin-bottom: 20px;
      p, span {
        float: left;
      }
      .user-icon {
        @include s_blockDemo(60px, 60px);
        background: #000;
        border-radius: 100%;
        margin-right: 23px;
      }
      span {
        margin-right: 20px;
      }
    }
    .evaluate-time {
      @include s_fontDemo(20px, 28px, $font-99);
      margin-bottom: 10px;
    }
    .evaluate-content {
      @include s_fontDemo(24px, 32px, $font-33);
      /* @include s_border_b;*/
      margin-bottom: 10px;
      .text {
        margin-bottom: 22px;
      }
      div p {
        @include s_blockDemo(226px, 226px);
      }
    }
    .evaluate-address {
      @include s_fontDemo(20px, 50px, $font-99);
    }

    /* 改变默认样式*/
    .am-flexbox-item.am-grid-item {
      margin-bottom: 20px;
    }
    .evaluation-container {
      -webkit-transform: translateY(3px);
              transform: translateY(3px);
    }
  }
  .evaluate-reply {
    background: $bg-ff;
    padding-left: 23px;
    p {
      @include s_fontDemo(24px, 36px, $font-66);
      @include s_border_b;
      padding-top: 22px;
      padding-bottom: 22px;
      .am-icon {
        vertical-align: middle;
        margin-right: 15px;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
