@import "../common.scss";

.search-slidePage {
  height: 100%;
  overflow: auto;
}

.index-search {
  .index-search-header {
    height: 1rem;
    line-height: 1rem;
    text-align: left;
    background-color: rgba(255, 255, 255, .8);
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .select-provice {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-right: 20px;
      span {
        font-size: 32px;
        color: $font-33;
        width: 100px;
        text-align: center;
      }
    }
    .search-main {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      height: 0.54rem;
      font-size: 0.28rem;
      text-align: center;
      background-color: $bg-f8;
      display: inline-block;
      line-height: 0.54rem;
      background-image: url(../../img/fangdajin.png);
      background-size: 0.27rem;
      background-position: 20px center;
      background-repeat: no-repeat;
      margin-top: 0.23rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      box-sizing: border-box;
      input {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        height: 100%;
        font-size: 0.28rem;
        background-color: $bg-f8;
        float: left;
        margin-left: 60px;
      }
    }
    .cart-container {
      display: inline-block;
      padding-left: 30px;
      padding-top: 28px;
      position: relative;
      .sc-badge-icon {
        right: 25px;
        top: 20px;
      }
    }
  }

  .index-search-bottom {
    -webkit-transition: .5s;
    transition: .5s;
    height: calc(100% - 100px);
    width: 100%;
    background: $bg-f3;
    position: absolute;
    padding-top: 100px;
    z-index: 1;
    overflow-y: auto;
    .search-history {
      background: $bg-ff;
      .search-title, .search-item {
        height: 88px;
        position: relative;
        @include s_border_b;
        @include s_fontDemo(28px, 88px, $font-33);
        .am-icon {
          @include s_middle;
          right: 30px;
        }
        &:last-of-type {
          border-bottom: none;
        }
      }
      .search-title {
        font-size: 24px;
        color: $font-ad;
        padding-left: 30px;
        @include s_border_t;
      }
      .search-container {
        padding-left: 25px;
      }
      .search-footer {
        height: 88px;
        text-align: center;
        position: relative;
        @include s_fontDemo(28px, 88px, $font-99);
        @include s_border_t;
        .am-icon {
          vertical-align: middle;
          margin-right: 10px;
          -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
        }
      }
    }

    .search-result {
      .title {
        padding-left: 23px;
        @include s_fontDemo(24px, 60px, $font-99);
      }
      .am-grid-icon {
        width: 50% !important;
        height: 50% !important;
        margin-top: 0 !important;
      }
      .am-grid-text {
        color: $font-66 !important;
      }
      .am-grid-item {
        /* @include s_border_r;*/
        /* @include s_border_b;*/
        /* &:last-of-type {*/
        /*   border-right: none;*/
        /* }*/
      }
    }
  }
}

.provice-popup {
  background: rgba(0, 0, 0, .3);
  width: 100%;
  height: 100%;
  position: absolute;;
  z-index: 2;
  @include s_border_t;
  .provice-title {
    @include s_fontDemo(24px, 85px, $font-ad);
    @include s_border_b;
    padding-left: 30px;
    background: $bg-ff;
  }
  .provice-list {
    padding: 20px 15px 30px;
    overflow: hidden;
    background: $bg-ff;
    .provice-item {
      padding-left: 14px;
      padding-right: 14px;
      margin-bottom: 15px;
      box-sizing: border-box;
      width: 25%;
      float: left;
      p {
        @include s_fontDemo(32px, 70px, $font-33);
        text-align: center;
        @include s_border;
      }
      &.active {
        p {
          background: $theme;
          border-color: $theme;
          color: $font-ff;
        }
      }
    }
  }
}
