body {
  margin : 0;
  padding: 32px;
  background-color: #f5f5f6
}

a {
  font-size: .3rem;
  margin-right: 24px;
}

.dian {
  width : 100px !important;
  height: 100px !important;
}

dl {
  dt {
    margin: 50px 0;
    font-size: .3rem;
    color: #3b9cff;
  }

  dd {
    span {
      margin-right: 20px;
    }
  }
}
