@mixin s_allCenter{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform:translateX(-50%) translateY(-50%);     /* IE 9 */
    -moz-transform:translateX(-50%) translateY(-50%);    /* Firefox */
    -webkit-transform:translateX(-50%) translateY(-50%); /* Safari 和 Chrome */
    -o-transform:translateX(-50%) translateY(-50%);
}
@mixin ell() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

*{margin: 0;padding: 0}

.detailWrap{
  height: 100%;
  height: 100%;
  position: relative;
  .buyBtn{
    position:absolute;
    bottom: 0;
    left: 0;
    padding: 0.16rem 0.28rem;
    box-sizing: border-box;
    width: 100%;
    background: #ffffff;
    span{
      display: inline-block;
      border-radius: 0.05rem;
      width: 100%;
      height: 1rem;
      line-height: 1rem;
      background: #ffab00;
      color: #ffffff;
      font-size: 0.32rem;
      text-align: center;
    }
  }
}
.detail{
  width: 100%;
  height: calc( 100% - 1.3rem );
  overflow-y: auto;
  background: #ffffff;
  -webkit-overflow-scrolling: touch;
  .detailTitle{
    width: 100%;
    padding: 0.2rem 0.24rem 0;
    box-sizing: border-box;
    color: #ffffff;
    position: relative;
    z-index: 0;
    .pic{
      display: inline-block;
      width:1.9rem;
      height:2.66rem;
      img{
        width: 1.9rem;
        height: 2.66rem;
        border-radius: 0.06rem;
      }
    }
    .star{
      box-sizing: border-box;
      padding: 0 0 0.1rem;
      font-size:0.24rem;
      color: #ff9a00;
      img{
        width:0.21rem;
        height:0.21rem;
        margin: 0.08rem 0.05rem 0 0;
      }
      span{
        margin-left: 0.1rem;
        color:#ffffff;
      }
    }
    .info{
      padding: 0 0 0 0.2rem;
      box-sizing: border-box;
      width: calc(100% - 1.9rem);
      display: inline-block;
      float: left;
      h1{
        margin: 0.1rem 0;
        font-size:0.34rem;
        font-weight: 500;
        img{
          position: relative;
          top: 0.02rem;
          left: 0.2rem;
        }
      }
      p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
        margin: 0.1rem 0;
        font-size:0.24rem;
        span{
          margin-right: 0.2rem;
        }
      }
      .rightBot{
        >div{
          display: inline-block;
          float: left;
        }
        .actorInfo{
          width: 80%;
        }
      }
    }
    .detailTitlebg{
              overflow: hidden;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: -2;
              -webkit-filter: blur(0.2rem);
              filter: blur(0.2rem);
          }
    .detailTitlebgg{
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
              background-color: #000;
              opacity: .3;
          }
  }
  .infoWrap{
    padding: 0 0.3rem;
  }
  .detailInfo{
    padding: 0.8rem 0.24rem 1.34rem;
    font-size: 0.26rem;
    h4{
      font-weight:normal;
      padding: 0.05rem 0;
      line-height: 1.5;
      span{
        display: table-cell;
        min-width: 0.8rem;
      }
    }
    p{
      padding-top: 0.05rem;
      line-height: 1.8;
      font-size: 0.26rem;
      color:#666666;
    }
  }
  .maoyandetailInfo{
    padding: 0.3rem 0;
    font-size: 0.26rem;
    border-bottom: 1px solid #e5e5e5;
    h4{
      font-weight:normal;
      padding: 0.05rem 0;
      line-height: 1.5;
      font-size: 0.34rem;
      color: #333333;
      margin-bottom: 0.2rem;
      span{
        float: right;
        font-size: 0.28rem;
        color: #666666;
      }
    }
    .am-icon-md {
      width: 0.4rem;
      height: 0.4rem;
    }
    >p{
      line-height: 0.42rem;
      font-size: 0.28rem;
      color:#666666;
      overflow: hidden;
      position: relative;
      span{
        text-align: right;
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        line-height: 0.42rem;
        width: 1.2rem;
        color: #ffab00;
        background: #fff;
        background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.1),  rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
        background: -o-linear-linear-gradient(to right, rgba(255, 255, 255, 0.1),  rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
        background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0.1),  rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
        background: linear-gradient(to right, rgba(255, 255, 255, 0.1),  rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
      }
    }
    .felmList{
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      height: 3rem;
      padding: 0 0.1rem;
      width: calc(100% + 0.6rem);
      margin: 0 0 0 -0.3rem;
      box-sizing: border-box;
      div{
        width: 1.5rem;
        display: inline-block;
        margin: 0.1rem 0.19rem;
        text-align: center;
        vertical-align: top;
        img{
          width: 1.5rem;
          height: 1.95rem;
          border-radius: 0.1rem;
        }
        h4{
          font-size:0.24rem;
          color:#666666;
          margin: 0.15rem 0 0.05rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          @include ell;
        }
        p{
          font-size:0.22rem;
          color:#999999;
          @include ell;
        }
      }
      .allimg{
        height: 1.6rem;
        width: auto;
        img{
          height: 1.6rem;
          width: auto;
          border-radius: 0.05rem;
        }
      }
    }
  }
}

.modalheadwarp{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  .modalhead{
    width: 6rem;
    background: #fff;
    @include s_allCenter;
    padding: 0.4rem;
    box-sizing: border-box;
    border-radius: 0.1rem;
    >div{
      width: calc(100% - 1.4rem);
      display: inline-block;
      vertical-align: top;
      h4{
        font-size: 0.32rem;
        color: #333333;
        font-weight: 400;
        line-height: 0.7rem;
      }
      p{
        font-size: 0.24rem;
        color: #666666;
        line-height: 0.7rem;
      }
    }
    img{
      width: 1.4rem;
      height: 1.4rem;
      border-radius: 50%;
    }
  }
}
.tex_center{
  text-align: center;
}
