*{margin: 0;padding: 0}

.orderWrap{
  height: 100%;
  width: 100%;
  position: relative;
  .bottomDiv{
    width: 100%;
    position:absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    height: 1rem;
    background: #ffffff;
    padding-left: 0.24rem;
    box-sizing: border-box;
    border-top: 0.01rem solid #e8e8e9;
    font-size: 0.28rem;
    .info{
      display: inline-block;
      width: calc(100% - 2.8rem);
      height: 100%;
      line-height: 0.99rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      float: left;
      span{
        color: #ff4848;
        margin-right: 0.15rem;
        i{
          color: #ff4848;
          font-size: 0.24rem;
        }
      }
      i{
        font-style: normal;
        font-size: 0.2rem;
        color:#999999;
      }
    }
    .btn{
      display: inline-block;
      width: 2.8rem;
      height: 100%;
      line-height: 0.99rem;
      background: #ffab00;
      color: #ffffff;
      text-align: center;
      font-size: 0.38rem;
    }
  }
}
.order{
  width: 100%;
  height: calc( 100% - 1rem );
  overflow-y: auto;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  .Oderdetail {
    background: #ffffff;
    h3{
      font-size:0.32rem;
      color:#333333;
      padding: 0.3rem 0.24rem 0;
      line-height: 0.44rem;
      .am-icon-md{
        float: left;
        margin-right: 0.12rem;
      }
      i{
        font-style:normal;
        display: inline-block;
        width: calc( 100% - 1.8rem);
      }
      span{
        display: inline-block;
        width: 1.2rem;
        height: 0.4rem;
        line-height: 0.4rem;
        text-align: center;
        float: right;
        font-size:0.24rem;
        font-weight: 300;
        color:#ffab00;
        border-radius: 0.05rem;
        border: 1px solid #ffab00;
        margin-top: 0.02rem;
      }
    }
    >div{
      width: 100%;
      padding: 0.3rem 0.24rem;
      overflow: hidden;
      box-sizing: border-box;
    }
    img{
      width: 1.4rem;
      height: 2rem;
      float: left;
    }
    .orderInfo{
      display: inline-block;
      width: calc( 100% - 1.8rem);
      padding-left: 0.24rem;
      p{
        font-size:0.28rem;
        color:#666666;
        padding: 0.1rem;
        &:nth-child(1){
          padding-top: 0;
        }
        &:nth-child(2){
          padding-bottom: 0.2rem;
          border-bottom: 1px dashed #ccc;
        }
        &:nth-child(3){
          padding-top: 0.2rem;
          white-space: nowrap;
          >span{
            // display: table-cell;
            &:nth-child(1){
              float: left;
              vertical-align: top;
            }
            &:nth-child(2){
              display: table;
              white-space: normal;
              span{
                display: inline-block;
                margin-right: 0.15rem;
              }
            }
          }
        }
        &:nth-child(4){
          padding-bottom: 0;
          color:#ffab00;
        }
      }
    }
  }
  .am-list-item .am-list-line .am-list-content{
    font-size:0.28rem;
    color:#333333;
    i{
      font-style:normal;
      font-size:0.26rem;
      color:#999999;
    }
  }
  .am-list-item .am-list-line .am-list-extra{
    font-size:0.28rem;
    color:#333333;
  }
  .am-list-item .am-input-control input, .am-list-item .am-input-label{
    font-size:0.28rem;
    color:#333333;
  }
  .s-promotion {
    margin-bottom: 0.3rem;
  }
  .spanWid{
    display: inline-block;
    width: 1.7rem;
    margin-right: .1rem;
  }
}
.am-modal.orderTip.am-modal-transparent .am-modal-content .am-modal-body{
  height: 2rem;
  font-size: 0.24rem;
  color: #666666;
  line-height: 0.4rem;
  text-align:left;
}
.am-modal.am-modal-transparent .am-modal-content .am-modal-body{
  height: auto;
}
.am-modal-button-group-v .am-modal-button{
  color: #ffab00;
}

.borderimg{
  height: 0.3rem;
  background-size: 102%;
  background-position: center;
}
.Oderdetailnew{
  background: #fff;
  padding: 0.3rem 0.3rem 0.1rem;
  h3{
    font-size: 0.34rem;
    color:#333333;
    line-height: 1.5;
    margin-bottom: 0.2rem;
  }
  p{
    font-size: 0.24rem;
    color: #666666;
    line-height: 1.7;
  }
  span{
    margin-right: 0.1rem;
  }
  .rcTip{
    display: inline-block;
    text-align: center;
    border:1px solid #d2d2d2;
    border-radius: 0.04rem;
    width: 0.9rem;
    height: 0.35rem;
    line-height: 0.35rem;
    margin-top: 0.1rem;
    font-size: 0.22rem;
    color: #999999;
  }
}
.orderTip{
  padding-left: 0.3rem;
  background: #fff;
  p{
    font-size: 0.28rem;
    color: #333333;
    padding: 0.3rem 0.3rem 0.3rem 0;
    border-bottom: 1px solid #e5e5e5;
  }
  div{
    padding: 0.3rem 0.3rem 0.3rem 0;
    font-size: 0.24rem;
    line-height: 1.5;
    color: #666666;
  }
}
