@import "../../../styles/s_common.scss";

.flight {
  height: 100%;
  background: $bg-ff;
  .flight-title {
    @include s_fontDemo(34px, 148px, $font-33);
    text-align: center;
    font-weight: normal;
  }
  .plane-come {
    // .am-list-line {
    //   border-bottom: 1px solid $border-e5;
    // }
    .left {
      @include s_fontDemo(28px, 28px, $font-66);
    }
    input {
      width: 60%;
      color: $font-66;
      font-size: 24px;
    }
  }
  .flight-time {
    p {
      @include s_fontDemo(28px, 28px, $font-66);
      span {
        font-size: 24px;
        color: $theme;
        &.selected {
          color: $font_66;
        }
      }
    }
    .am-list-line {
      @include s_border_b;
    }
  }
  /* 改变antd默认样式*/
  .am-list-body {
    border-top: none;
    padding-right: 30px;
    .am-list-item, .am-list-item .am-list-line {
      min-height: 100px;
      height: 100px;
    }
  }
  .flight-time.am-list-item .am-list-line {
    @include s_border_b;
    box-sizing: border-box;
  }
  .am-whitespace {
    background: $bg-f8;
  }
  .flight-historys {
    padding-left: 30px;
    padding-right: 30px;
    h1 {
      padding-top: 25px;
      @include s_fontDemo(24px, 50px, $font-99);
      font-weight: normal;
      @include s_border_b;
    }
    ul {
      max-height: calc(100% - 660px);
      overflow: auto;
      background: $font-ff;
      li {
        height: 100px;
        @include s_fontDemo(28px, 100px, $font-66);
        @include s_border_b;
      }
    }
    .clear-historys {
      width: 100%;
      height: 100px;
      @include s_fontDemo(28px, 100px, $font-66);
      display: flex;
      justify-content: center;
      align-items: center;
      .am-icon {
        margin-right: 10px;
        margin-top: -8px;
        vertical-align: middle;
      }
    }
  }
  .s-button {
    position: relative;
  }
}
