@import "../../../styles/s_common.scss";

@mixin header{
  width: 710px;
  z-index: 5;
  @include s_center;
  top: 10px;
  background: $bg-ff;
  box-shadow:0 0 10px 0 rgba(0,0,0,0.14);
  border-radius: 6px;
}
@mixin footer {
  @include s_blockDemo(690px, 100px);
  background: $bg-ff;
  // box-shadow: 10px 10px 5px #eee;
  z-index: 19;
  line-height: 100px;
  @include s_center;
  bottom: 23px;
}


.order-id {
  min-height: 100%;
  height: 100%;
  position: relative;
  .header {
    @include header;
    .driver-info {
      height: 160px;
      border-bottom: 1px solid $border-e5;
      position: relative;
      .driver-img, .driver-id, .driver-phone {
        @include s_middle;
      }
      .driver-img {
        left: 31px;
        width:99px;
        height:99px;
        border-radius:100%;
      }
      .driver-id {
        left: 162px;
        .top {
          font-size:30px;
          color: $font-33;
          margin-bottom: 25px;
        }
        .bottom {
          font-size:26px;
          color: $font-99;
          p {
            display: inline-block;
            margin-right: 25px;
          }
          span {
            margin-left: 10px;
            color: $theme;
          }
        }
      }
      .driver-phone {
        right: 30px;
      }
    }
    .driver-tips {
      height: 100px;
      line-height: 100px;
      text-align: center;
      font-size:28px;
      color:$font-33;
      span {
        color: $theme;
      }
    }

    .header-bottom {
      height: 100px;
      line-height: 100px;
      font-size: 28px;
      position: relative;
      .am-icon, .left, .right {
        @include s_middle;
      }
      .am-icon {
        left: 26px;
      }
      .left {
        left: 76px;
        color: $font-33;
      }
      .right {
        right: 30px;
        color: $theme;
      }
    }
  }
  .footer1 {
    @include footer;
    font-size: 36px;
    color: $font-99;
    text-align: center;
    &.recall {
      background: $theme;
      color: $font-ff;
      bottom: 145px;
    }
  }
  .footer3 {
    @include footer;
    font-size: 36px;
    color: $font-66;
    text-align: center;
    span {
      color: $font-f48;
    }
  }

  .my-map {
    height: 100%;
    width: 100%;
    // transform-origin: top left;
    // transform: scale(2);
  }
}

// wait-animation
.wait-animation {
  canvas, .fill-point, h1, .wait-status {
    @include s_allCenter;
  }
  .fill-point {
    border-radius: 100%;
    background: #ffab00;
    animation: mymove 2s linear infinite;
    // animation: mymove 2.235s linear infinite;
  }
  .wait-title {
    @include s_fontDemo(40px, 146px, $font-66);
    width: 100%;
    font-weight: normal;
    text-align: center;
  }
  .wait-name {
    @include s_fontDemo(28px, 40px, $font-66);
    text-align: center;
  }
  .wait-time {
    @include s_fontDemo(70px, 82px, $theme);
    text-align: center;
  }
}

@keyframes mymove {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}


// 改变地图选择地点弹出框的字体大小
.BMap_bubble_title, .BMap_bubble_content, .selInfoWndBtn {
  font-size: 14px !important;
}
