@import "../../../styles/s_common.scss";

.price-rules {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  .header {
    .bg-grey {
      height: 184px;
      background: $bg-f3;
    }
    .car-name {
      @include s_fontDemo(24px, 24px, $font-99);
      padding-top: 100px;
      padding-bottom: 72px;
      text-align: center;
    }
  }
  .bottom {
    padding: 0 110px 60px;
    height: calc(100% - 396px);
    overflow: auto;
    .description {
      padding-bottom: 60px;
      .title {
        height: 33px;
        position: relative;
        margin-bottom: 80px;
        p {
          height: 15px;
          @include s_border_b;
        }
        h5 {
          @include s_blockDemo(140px, 33px);
          @include s_fontDemo(32px, 33px, $font-33);
          @include s_allCenter;
          font-weight: normal;
          text-align: center;
          background: $bg-f8;
        }
      }
      .description-item {
        margin-bottom: 30px;
        li{
          width: 100%;
          overflow: hidden;
        }
        .description-header {
          p {
            @include s_fontDemo(28px, 44px, $font-66);
          }
          .name {
            float: left;
          }
          .price {
            float: right;
          }
        }
        .description-title {
          p {
            float: left;
            @include s_fontDemo(24px, 40px, $font-99);
          }
        }
        .base-price {
          p {
            @include s_fontDemo(24px, 37px, $font-99);
          }
          .base-left {
            float: left;
          }
          .base-right {
            float: right;
            text-align: right;
          }
        }
      }
    }
  }
  .rules-carousel {
    a {
      height: 310px;
      display: block;
      position: relative;
      .carousel-img {
        height: 160px;
        @include s_allCenter;
      }
    }
  }
}


.top-style {
  @include s_border_t;
  padding-top: 40px;
}
