@import "../../../styles/s_common.scss";

.product {
  height: 100%;
  position: relative;
  .grey-logo {
    margin: 70px auto;
    width: 200px;
    display: block;
  }
  .am-list-body {
    height: 100%;
    box-sizing: border-box;
  }
  .my-tab {
    width: 370px;
    margin: 0 auto 40px;
    padding-top: 50px;
    clear: both;
    overflow: hidden;
    li {
      width: 50%;
      @include s_fontDemo(34px, 48px, $font-66);
      text-align: center;
      float: left;
      border-bottom: 4px solid #e8e8e8;
      padding-bottom: 12px;
      &.active {
        color: $theme;
        border-color: $theme;
      }
    }
  }
  .header {
    margin: 20px 15px;
    background: $bg-ff;
    padding-bottom: 25px;
    box-shadow:0 0 8px 0 rgba(0,0,0,0.12);
    border-radius:4px;

    .meet-time {
      font-size:28px;
      color: $font-99;
      line-height: 90px;
      text-align: center;
      font-weight: normal;
      @include s_border_b;
    }

    .plane-come {
      .has-number {
        display: inline-block;
        .left {
          @include s_fontDemo(28px, 90px, $font-33);
          margin-right: 13px;
        }
        .right {
          @include s_fontDemo(24px, 90px, $font-99);
        }
      }
      .no-number {
        display: inline-block;
        @include s_fontDemo(28px, 90px, $theme);
      }
      .clear-flightNo {
        position: absolute;
        right: 35px;
      }
    }
    .start-point .am-list-content, .end-point .am-list-content {
      display: flex;
      align-items: center;
      border-bottom: none;
      span {
        background: #7ed321;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        margin-right: 40px;
      }
      p {
        color: $font-99;
        height: 90px;
        line-height: 90px;
        flex: 1;
        font-size: 28px;
        color: $theme;
        &.active {
          color: $font-66;
        }
      }
    }
    .start-point .am-list-content p {
      @include s_border_b;
      box-sizing: border-box;
    }
    .end-point .am-list-content span {
      background: #ffab00;
    }

    .select-time-contact {
      height: 90px;
      @include s_border_b;
      .select-time-contact-item {
        height: 90px;
        width: 50%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        @include s_fontDemo(22px, 22px, $font-66);
        box-sizing: border-box;
        &:first-of-type {
          @include s_border_r;
        }
        .am-icon {
          margin-right: 10px;
          @include s_blockDemo(24px, 24px);
        }
        p {
          @include s_fontDemo(22px, 22px, $font-66);
          span {
            color: $theme;
          }
        }
      }
    }

    .estimate-price {
      height: 80px;
      @include s_border_b;
      text-align: center;
      @include s_fontDemo(22px, 80px, $font-66);
      margin-top: 20px;
      span {
        @include s_fontDemo(50px, 80px, $theme);
      }
    }

    .car-style {
      background: $bg-ff;
      text-align: center;
      border-bottom: 1px solid $border-e5;
      .car-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;
        span {
          font-size: 20px;
          line-height: 28px;
          color: $font-66 !important;
          margin-top: -15px;
          &.active {
            color: $theme !important;
          }
        }
      }
    }

    .s-button {
      margin-bottom: 25px;
    }

    .plane-button {
      ul {
        width: 250px;
        margin: 0 auto;
        overflow: hidden;
        li {
          &:first-child {
            float: left;
          }
          &:last-child {
            float: right;
          }
          h1 {
            background:#fcfcfc;
            border:1px solid #dadada;
            width:78px;
            height:78px;
            border-radius:100%;
            margin-bottom: 15px;
            position: relative;
            .am-icon {
              @include s_allCenter;
            }
          }
          p {
            @include s_fontDemo(24px, 33px, $font-66);
            text-align: center;
          }
        }
      }
    }
  }

  .footer {
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
    z-index: 1;
    box-shadow:0 0 8px 0 rgba(0,0,0,0.12);
    border-radius:4px;
    .footer-item {
      .footer-item-title {
        display: flex;
        align-items: center;
        @include s_fontDemo(28px, 28px, $font-66);
        .am-icon {
          margin-right: 20px;
        }
      }
    }
  }

  .acitivity-icon{
    @include s_center;
    bottom: 23px;
    z-index: 10;
  }

  /* antd默认样式*/
  .am-list-item {
    border-bottom: 1px solid $border-e5;
    &.start-point{
      border-bottom: none;
    }
  }

  .am-list-body div:not(:last-child) .am-list-line:after{
    border-bottom: none;
  }

  .am-list-item, .am-list-item .am-list-line {
    min-height: 90px;
    height: 90px;
  }
  .am-list-item .am-list-line .am-list-content {
    padding-top: 0;
    padding-bottom: 0;
    color: $font-33;
  }
  .am-list-item .am-list-line .am-list-extra {
    color: $font-33;
  }
  .am-list-body {
     background: none;
    //  height: 100%;
  }
  .am-tabs-bar {
    margin-bottom: 25px;
  }
  .am-list-body .am-list-item:last-child {
    @include s_border_b;
  }
  .am-list-item .am-list-line .am-list-extra {
    overflow: initial;
  }

}


.am-picker-popup.select-start-time .am-picker-popup-title {
  font-size: 26px;
  padding: 18px;
}

.am-picker-popup-header {
  height: 90px;
}

.single-pay {
  height: 100px;
  @include s_border_t;
  padding-left: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $bg-ff;
  z-index: 1;
  .real-price {
    @include s_fontDemo(28px, 100px, $font-f48);
    float: left;
    margin-right: 8px;
    span {
      font-size: 36px;
    }
  }
  .disc-price {
    @include s_fontDemo(20px, 110px, $font-99);
    float: left;
  }
  .pay-button {
    @include s_blockDemo(300px, 100px);
    @include s_fontDemo(38px, 100px, $font-ff);
    float: right;
    background: $theme;
    text-align: center;
  }
  // activePopup样式修改
  .active-popup-icon {
    position: absolute;
    top: 28px;
    right: 320px;
  }
  .active-popup-container {
    top: -100px;
  }
  .s-promotion .am-list-body {
    height: auto;
  }
}

.am-modal-title {
  font-size: 30px;
}

.am-modal-button:last-of-type {
  color: $theme !important;
}

.passenger-input input {
  @include s_fontDemo(28px, 28px, $font-33);
  text-align: center;
  padding-top: 90px;
  padding-bottom: 10px;
  width: 480px;
  @include s_border_b;
}


.product .acitivity-icon {
  display: none;
}


// 接送机页面
.product.plane {
  padding-left: 30px;
  padding-right: 30px;
  background: $bg-ff;
  .header, .footer {
    margin-left: 0;
    margin-right: 0;
    box-shadow: none;
    border-radius: none;
  }
  .header {
    .start-point .am-list-content span, .end-point .am-list-content span {
      display: block;
      @include s_blockDemo(15px, 15px);
      border:3px solid #7ed321;
      background: none;
      margin-top: 7px;
      margin-left: 3px;
    }
    .end-point .am-list-content span {
      border-color: #ffab00;
    }
    .start-point .am-list-line {
      padding-right: 0;
    }

    .am-list-content {
      display: flex;
      align-items: center;
      font-size: 28px;
      .icon-container {
        width: 40px;
        height: 30px;
        float: left;
        .am-icon {

        }
      }
    }
    .am-list-extra {
      font-size: 28px;
    }

    .estimate-price {
      height: 80px;
      line-height: 80px;
      border-bottom: none;
      span {
        line-height: 80px;
      }
    }

    // .s-button {
    //   padding-top: 0;
    // }
  }
  .am-list-item {
    padding-left: 0;
  }
}
