@import "../common.scss";

.daojia {
  height: 100%;
  .daojia-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    background: $bg-ff;
    p {
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      .am-icon {
        margin-right: 10px;
        float: left;
        &:nth-of-type(2) {
          width: 15px;
          height: 15px;
        }
      }
      span {
        float: left;
        max-width: 250px;
        @include s_fontDemo(32px, 100px, $font-33);
        margin-right: 10px;
        box-sizing: 20px 0 20px 20px #fff outset;
      }
    }
  }
  .daojia-service-carousel {
    margin-bottom: 20px;
    .slider-list {
      height: 460px !important;
      background: $bg-ff;
    }
    .slider-decorator-0 {
      bottom: 30px !important;
      .am-carousel-wrap-dot > span {
        background: rgba(0, 0, 0, .25);
      }
      .am-carousel-wrap-dot-active > span {
        background: rgba(0, 0, 0, .5);
      }
    }
    .industry-item {
      overflow: hidden;
      padding: 30px;
      margin-bottom: 20px;
      li {
        padding-right: 10px;
        float: left;
        box-sizing: border-box;
        height: 175px;
        width: 25%;
        margin-bottom: 10px;
        &:nth-of-type(4), &:nth-of-type(8) {
          padding-right: 0;
        }
        .industry-item-container {
          background: $bg-f8;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding-right: 10px;
          height: 100%;
          p {
            @include sc_img_container(100px, 100px);
            margin-bottom: 10px;
          }
          span {
            display: block;
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
            @include s_fontDemo(26px, 26px, $font-66);
          }
        }
      }
    }
  }
  .recommend-service {
    .recommend-service-header {
      @include s_fontDemo(32px, 90px, $font-33);
      padding-left: 30px;
      background: $bg-ff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      span {
        &:nth-of-type(1) {
          width: 250px;
        }
        &:nth-of-type(2) {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1;
          @include s_border_b;
        }
      }
    }
  }
}
