@import "../common.scss";

.main {
  height: calc(100% - 100px);
  .main-list {
    height: 100%;
    padding-top: 100px;
    /* overflow-y: auto;*/
    .sc-ad {
      margin-bottom: 0;
      padding: 0 0rem 0.3rem;
      height: 200px !important;
      box-sizing: content-box;
      &>p {
        left: 0;
      }
      .ad-carousel .slider-list {
        height: 200px !important;
      }
    }
    .columns {
      background: #fff;
      overflow-y: hidden;
      overflow-x: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 30px;
      margin-bottom: 20px;
      li {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        height: 140px;
        p {
          @include sc_img_container(100px, 100px);
          margin-bottom: 12px;
        }
        span {
          @include s_fontDemo(28px, 40px, $font-33);
        }
      }
    }
    .new-commoditys {
      padding-bottom: 30px;
      padding-left: 30px;
      background: $bg-ff;
      margin-bottom: 20px;
      .commoditys-list-container {
        white-space: nowrap;
        width: 100%;
        overflow-x: auto;
        .commoditys-list {
          overflow-y: hidden;
          .sc-4-commodity {
            margin-right: 15px;
          }
        }
      }
    }
    .category-secondary {
      overflow: hidden;
      p {
        position: relative;
        float: left;
        &:nth-of-type(1) {
          width: 40%;
        }
        &:nth-of-type(2), &:nth-of-type(3) {
          width: 60%;
          box-sizing: border-box;
          padding-left: 2px;
        }
        &:nth-of-type(3) {
          width: 60%;
          margin-top: 2px;
        }
        img {
          width: 100%;
          height: auto;
        }
        span {
          position: absolute;
          left: 30px;
        }
        span:nth-of-type(1) {
          top: 40px;
          font-size:30px;
          color:#333333;
        }
        span:nth-of-type(2) {
          top: 80px;
          font-size:22px;
          color:#999999;
        }
      }
    }
    .recommend-list {
      overflow: hidden;
      .recommend-list-title {
        height: 70px;
        padding-top: 20px;
        img {
          display: block;
          margin: 0 auto;
          height: 50px;
        }
      }
    }
  }
}
