@import "../common.scss";

.market {
  height: 100%;
  /* 改变antd的样式*/
  .am-tabs-top {
    padding-top: 100px;
    .am-tabs-tab {
      height: 120px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
    }
  }
  .main-list {
    box-sizing: border-box;
    height: calc(100% - 220px);
    padding-top: 5px;
    overflow-y: auto;
    background: $bg-ff;
  }
}
