@import "../common.scss";

.sc-2-commodity-container {
  width: 100%;
  overflow: hidden;
  .sc-2-commodity {
    margin-bottom: 10px;
    width: 50%;
    box-sizing: border-box;
    float: left;
    .bg-container {
      background: $bg-ff;
      p {
        padding-left: 20px;
        padding-right: 20px;
        &:nth-of-type(1) {
          position: relative;
          overflow: hidden;
          height: 370px;
          margin-bottom: 15px;
          img {
            @include s_allCenter;
            height: 370px;
          }
        }
        &:nth-of-type(2) {
          @include s_fontDemo(28px, 35px, $font-33);
          height: 70px;
          margin-bottom: 20px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
        &:nth-of-type(3) {
          overflow: hidden;
          span {
            float: left;
            &:nth-of-type(1) {
              @include s_fontDemo(24px, 40px, $font-f48);
            }
            &:nth-of-type(2) {
              @include s_fontDemo(35px, 35px, $font-f48);
            }
            &:last-of-type {
              float: right;
              @include s_fontDemo(24px, 35px, $font-ad);
            }
          }
        }
      }
    }
  }
}
