@import 's_common.scss';

.addUser{
  .remark{
    font-size:24px;
    color:#aaaaaa;
    line-height: 24px;
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
  }

  .code-img{
    bottom:20px;
  }

  /* 改变固定样式*/
  /* 第一个以外的列表*/
  .am-list-item.am-list-item-middle .am-list-line{
    height: 100px;
  }
  .am-list-item .am-list-line .am-list-content{
    color:#111111 !important;
    font-size: 30px !important;
  }
  /* input*/
  .am-list .am-list-item.am-input-item{
    height: 100px;
  }
  .am-list .am-list-item .am-input-label{
    color:#111111 !important;
    font-size: 30px !important;
  }
  /* whitespace*/
  .am-whitespace.am-whitespace-md {
    height: 0.18rem;
      background: #f5f5f6;
  }
  /* 多余边框*/
  .am-list-body{
    border-top: none;
  }
  .am-list-item.select-home .am-list-line:after, .am-list .am-list-item.am-input-item:after, .am-list-body:after{
    border-bottom: none;
  }

 }

/* input框label的样式改变*/
.am-list-item .am-input-label.am-input-label-5{
  width: 153px;
 }

.home-list{
  background: #fff;
  padding-left: 32px;
  li{
    height: 100px;
    line-height: 100px;
    font-size:30px;
    color:#111111;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    overflow: hidden;
    .center{
      @include s_middle;
      left: 45%;
      height: 50px;
      line-height: 50px;
      font-size: 30px;
      color: #111;
    }
    .right{
      @include s_middle;
      right: 32px;
      .am-icon-md{
        width: 34px;
        height: 34px;
        &.my-icon{
          width: 36px;
          height: auto;
        }
      }
    }
  }
  /* 改变antd默认样式*/
  /* icon颜色*/
  .anticon-check-circle:before{
    color: #ffa000;
  }
 }


//  改变picker组件默认样式
.am-picker-popup-item{
  font-size:28px;
  color:#999999;
  &.am-picker-popup-header-left{
    color:#999999;
  }
  &.am-picker-popup-title{
    font-size:36px;
    color:#333333;
  }
  &.am-picker-popup-header-right{
    color:#ffab00;
  }
 }
