@import 's_common.scss';

.user-page{
  min-height: 100%;
  position: relative;
  padding-bottom: 20px;
  .my-home{
    // min-height: calc(100% - 100px);
    .home-container{
      position: relative;
      .user-icon{
        @include s_middle;
        right: 30px;
      }
      background: #fff;
      height: 88px;
      .home-list{
        position: absolute;
        left: 0;
        overflow: hidden;
        .am-flexbox-item{
          line-height: 88px;
          width: 160px;
          font-size:30px;
          color:#606060;
          text-align:center;
          float: left;
          &.active{
            line-height: 84px;
            border-bottom: 4px solid #ff9a00;
            color: #ff9a00;
          }
        }
      }
    }
    .city-select {
      height: 110px;
      background: #fff;
      text-align: center;
      position: relative;
      .container {
        width: 200px;
        overflow: hidden;
        @include s_allCenter;
        .icon-location {
          float: left;
          margin-right: 10px;
          margin-top: -3px;
        }
        p {
          float: left;
          margin-right: 5px;
          line-height: 38px;
        }
        .icon-arrow {
          float: left;
          color: #e5e5e5;
        }
      }
    }
  }

  .more-pay{
    bottom: 0;
    text-align: center;
    line-height: 100px;
    font-size:30px;
    color:#ff9a00;
    width: 100%;
  }

  .home-info{
    &.am-list-item.am-list-item-middle .am-list-line{
      height: 160px;
    }
    .am-icon-md{
      height: 70px;
      width: 70px;
    }
    .second-page-dl dt{
      left: .2rem;
    }
    .second-page-dl dd.first-dd{
      left: 140px;
    }
  }

  .second-page-dl{
    overflow: hidden;
    height: 100%;
    width: 90%;
    dt{
      position: absolute;
      top:50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      left: 0;
    }
    dd.first-dd{
      position: absolute;
      top:50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      left: .53rem;
      p.address {
        white-space: pre-wrap;
        max-width: 80%;
      }
    }
    dd.second-dd{
      @include s_middle;
      right: 75px;
      font-size:30px;
      color:#888;
    }
  }


//  单独设置single-category模式的样式，覆盖全品类时的样式
  &.single-category{
    .home-container{
      background: #fff;
      height: 88px;
      li{
        float: left;
        width: 20%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 88px;
        font-size:28px;
        color:#606060;
        text-align:center;
        box-sizing: border-box;
        padding: 0 10px;
        &.active{
          line-height: 84px;
          border-bottom: 4px solid #ff9a00;
          color: #ff9a00;
        }
      }
    }
    .header{
      height: 70px;
      padding: 0 30px;
      border-bottom: 1px solid #e5e5e5;
      p{
        font-size:28px;
        color:#999999;
        line-height: 70px;
      }
      .left{
        float: left;
      }
      .right{
        float: right;
      }
    }

    .am-whitespace{
      background: #f5f5f6;
    }
  }

  .edit-bill{
    position: absolute;
    right: 30px;
    overflow: hidden;
    background: #fff;
    z-index: 1;
    padding-top: 52px;
    padding-bottom: 50px;
    li{
      float: left;
      font-size:28px;
      height: 30px;
      line-height: 30px;
      width: 90px;
      &.edit{
        text-align: left;
        color:#ffab00;
        border-right: 3px solid #cccccc;
      }
      &.del{
        text-align: right;
        color:#ff4848;
      }
    }
  }



  /* 改变antd默认样式*/
  /* 列表*/
  .am-list-item.am-list-item-middle .am-list-line{
    height: 134px;
  }
  /* 手风琴*/
  .am-accordion-item.pad{
    padding-left: 36px;
  }
  .am-accordion .am-accordion-item .am-accordion-header{
    height: 134px;
  }
  .am-accordion .am-accordion-item .am-accordion-content{
    overflow: hidden;
    .edit-detail{
      padding: 27px 0;
      text-align: center;
      .am-flexbox-item{
        font-size:28px;
        color:#606060;
        line-height: 46px;
        height: 46px;
      }
      .edit{
        border-left: 1px solid #e4e4e5;
        border-right: 1px solid #e4e4e5;
      }
    }
  }
  .am-accordion{
    border-top: none;
  }
  .am-accordion .am-accordion-item .am-accordion-header i{
    top: .5rem;
  }

 }

.content .slide-page-container{
  background: #fff;
  /* transform: translateY(60%);*/
  .use-tips{
    display: none;
  }
 }

/* 手风琴图标方向*/
.am-accordion .am-accordion-item .am-accordion-header i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
 }
.am-accordion .am-accordion-item .am-accordion-header[aria-expanded~='true'] i{
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transfrom: rotate(90deg);
 }

.am-list-item .am-list-line .am-list-extra {
  max-width: 80%;
}
