@import "../../../styles/s_common.scss";

.bill-list {
  background: $bg-f3;
  padding: 20px 15px;
  li {
    background:#ffffff;
    box-shadow:0 0 6px 0 #a6a6a6;
    border-radius:4px;
    margin-bottom: 20px;
    padding: 20px;
    background: url(../img/bill_list_bg.png) right center no-repeat;
    background-size: auto 100%;
    p {
      &:nth-of-type(1) {
        margin-bottom: 30px;
        span {
          &:nth-of-type(1) {
            float: left;
            @include s_fontDemo(24px, 24px, $font-66);
          }
          &:nth-of-type(2) {
            float: right;
            @include s_fontDemo(24px, 32px, $theme);
          }
        }
      }
      &:nth-of-type(2) {
        @include s_fontDemo(60px, 83px, $font-33);
      }
    }
  }
}
