@import "../../../styles/s_common.scss";

.huafei-order-content {
  .am-list-item .am-list-line .am-list-content, .am-list-item .am-list-line .am-list-extra {
    font-size: 28px;
    color: $font-33;
  }
  .am-list-item.am-list-item-middle {
    @include s_border_b;
    &.activity-price, &.coupon-price {
      border-bottom: none;
      .am-list-line {
        @include s_border_b;
        .am-list-content {
          span {
            float: left;
            &:nth-of-type(1) {
              display: inline-block;
              @include s_blockDemo(32px, 32px);
              background: #ff6e19;
              border-radius:6px;
              @include s_fontDemo(20px, 32px, #fff);
              text-align: center;
              margin-right: 10px;
            }
          }
        }
        .am-list-extra {
          color: $font-f48;
        }
      }
    }
    &.coupon-price .am-list-line .am-list-content span:nth-of-type(1) {
      background: $font-f48;
    }
    &.order-price .am-list-line {
      justify-content: flex-end;
    }
  }
  .am-list-body div:not(:last-child) .am-list-line:after {
    border-bottom: none;
  }
  .am-whitespace.am-whitespace-md {
    background: #f4f4f5;
  }
}
