@import "../../../styles/s_common.scss";

.price-input {
  .ipt-container {
    background:#ffffff;
    padding: 25px 0;
    .am-list-item.am-input-item {
      margin: 0 30px;
      border:1px solid #999999;
      border-radius:4px;
      .fake-input-placeholder, .fake-input.focus {
        // text-align: left;
        font-size: 32px;
      }
    }
    .am-list-item.am-input-item:after {
      border-bottom: none;
    }
    .am-list-item .am-input-control .fake-input-container .fake-input.focus:after {
      border-color: $theme;
    }
    .am-number-keyboard-wrapper table tr .am-number-keyboard-item.keyboard-confirm {
      background: $theme;
      color: $font-ff;
    }

    // 光标和文字对其
    .am-list-item .am-input-control .fake-input-container .fake-input {
      text-align: left;
      &.focus {
        width: auto;
        min-width: 2px;
      }
    }
    .am-list-item .am-input-control .fake-input-container .fake-input-placeholder {
      text-align: left;
      color: $font-99;
    }
  }

  .order-info-list {
    background:#ffffff;
    padding: 24px 30px 11px;
    @include s_border_t;
    margin-bottom: 50px;
    li {
      overflow: hidden;
      margin-bottom: 13px;
      span {
        @include s_fontDemo(24px, 33px, $font-66);
        &:nth-of-type(1) {
          float: left;
        }
        &:nth-of-type(2) {
          float: right;
        }
      }
    }
  }

  .next-button {
    margin-left: 30px;
    margin-right: 30px;
    @include s_fontDemo(38px, 90px, $font-ff);
    background: $theme;
    text-align: center;
    border-radius: 4px;
  }
}
