@mixin s_middle{position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.server-box{
  padding-left: 32px;
  background: #fff;
  border-top: 1px solid #e4e4e5;
  .server{
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    p{
      color:#111111;
      margin-left: 90px;
      height: 142px;
      line-height: 142px;
    }
    .icon{
      width:70px;
      @include s_middle;
      &.am-icon-md{
        height: 70px;
      }
    }
  }
 }
