*{margin: 0;padding: 0}
.app{
  width: 100%;
  height: 100%;
  .addrtime{
    background: #ffffff;
    padding: 0.3rem 0.35rem;
    color: #333333;
    font-size: 0.28rem;
    p{
      display: inline-block;
      width: 50%;
    }
    span{
      display: inline-block;
      width: 50%;
      text-align: right;
    }
  }
  .addrcity{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    font-size: 0.36rem;
    background: #ffffff;
    >div{
      width: calc(50% - 0.6rem);
      text-align: center;
      padding: 0.25rem 0.3rem;
      border-bottom: 1px solid #e5e5e5;
      p{
        &:first-child{
          font-size: 0.24rem;
          color: #999999;
          margin-bottom: 0.15rem;
        }
      }
    }
    .am-icon{
      width: 0.6rem;
      height: 0.6rem;
    }
  }
  .btn{
    height: 1.9rem;
    text-align: center;
    padding: 0.5rem 0.3rem;
    box-sizing: border-box;
    span{
      display: inline-block;
      height: 0.9rem;
      line-height: 0.9rem;
      width: 100%;
      background: #ffab00;
      font-size:0.38rem;
      color: #ffffff;
      border-radius: 0.06rem;
    }
  }
  fieldset{
  	width: 3rem;
  	margin: 0.5rem auto 0.3rem;
  	padding: 0 0.4rem;
  	box-sizing: border-box;
  	border-color: #adadad;
    border-top: 1px solid #adadad;
  	border-left: none;
  	border-right: none;
  	border-bottom: none;
    legend{
    	text-align:center;
    	color:#adadad;
    	font-size: 0.28rem;
    	padding: 0 0.1rem;
      background: #F5F5F6
    }
  }
  .locainfo{
    list-style: none;
    color:#adadad;
    li{
      font-size: 0.28rem;
      text-align: center;
      margin: 0 0 0.2rem;
      white-space: nowrap;
      span{
        display: inline-block;
        width: calc( 50% - 0.25rem);
        &:first-child{
          text-align: right;
        }
        &:nth-child(2){
          width: 0.5rem;
        }
        &:last-child{
          text-align: left;
        }
      }
    }
  }
  .clear-locainfo{
    font-size: 0.28rem;
    color:#666666;
    text-align: center;
    margin-top: 0.2rem;
  }
}
