@import "../common.scss";

.evaluate {
  @include s_border_t;
  overflow-y: auto;
  .commodity-item {
    background: $bg-ff;
    margin-bottom: 20px;
    padding-bottom: 1px;
    .commodity-item-header {
      padding: 20px 30px;
      @include s_border_b;
      overflow: hidden;
      .brand-img {
        @include sc_img_container(80px, 80px);
        margin-right: 20px;
        float: left;
      }
      .evaluation-container {
        float: left;
        margin-top: 15px;
      }
      .evaluate-status {
        float: right;
        @include s_fontDemo(24px, 80px, $font-66);
      }
    }
    .am-textarea-control textarea {
      @include s_fontDemo(28px, 40px, $font-33);
    }
  }
  .brand-evaluate {
    background: $font-ff;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 45px;
    .brand-evaluate-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      .am-icon {
        margin-right: 20px;
      }
      span {
        @include s_fontDemo(28px, 90px, $font-33);
      }
    }
    .brand-evaluate-text {
      @include s_fontDemo(28px, 50px, $font-99);
      overflow: hidden;
      margin-bottom: 15px;
      span {
        float: left;
        margin-right: 20px;
      }
      .evaluation-container {
        margin-top: 8px;
      }
    }
  }
  .evaluate-button {
    margin-left: 30px;
    margin-right: 30px;
    background:#ffab00;
    border-radius:4px;
    @include s_fontDemo(34px, 90px, $font-ff);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  // 改变默认样式
  .am-image-picker-list .am-flexbox {
    overflow: hidden;
  }
}
