@import "./app.scss";

.topBar{
  padding: 30px;background-image: linear-gradient(90deg,#0af,#0085ff);
  .addressBox{
    font-size: 32px;color: #fff;padding-left: 50px;background-position: .15rem center;max-width: 80%;
    background-image: url(../img/Shape.png);background-size: 25px 32px;background-repeat: no-repeat;
    overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: inline-block;
  }
  .fangdajing{
    display: inline-block;width: 92px;height: 92px;background-image: url(../img/fangda.png);
    background-repeat: no-repeat;background-position: center right;background-size: 32px;float: right;
  }
}
.category{
  background-color: #fff;
  ul{
    li{
      display: inline-block;width: 25%;text-align: center;margin: 10px 0 30px 0;
      img{margin-bottom: 23px;width: 120px;height: 120px;}
      span{display: inline-block;width: 100%;font-size: 24px;color: #666;}
    }
  }
}
.recommendStore{
  margin-top: 12px;
  .recommendTitle{
    color: #333;font-size: 28px;height: 87px;line-height: 87px;background-color: #fff;
    border-bottom: 1px solid #e5e5e5;font-weight: bold;text-align: center;
  }
  .hish{
    width: 50px;height: 1px;background-color: #636363;display: inline-block;vertical-align: middle;margin: 0 20px;
  }
  .recommend-filter{
    width: 100%;height: 90px;background-color: #fff;border-bottom: 1px solid #e5e5e5;position: sticky;top: 0;
    position: -webkit-sticky;
    span{
      height: 100%;display: inline-block;width: 24.85%;text-align: center;line-height: 90px;font-size: 28px;
    }
    .hish2{
      width: 1px;height: 30px;background-color: #e5e5e5;display: inline-block;vertical-align: middle;
    }
  }
}

.restaurantContainer{
  background-color: #fff;padding: 30px 20px;border-bottom: 1px solid #e5e5e5;box-sizing: border-box;position: relative;
  .shoppingCarTips{
    width: 0.3rem;height: 0.3rem;text-align: center;background-color: #ff4848;display: inline-block;font-size: 0.24rem;
    position: absolute;top: 5%;left: 18%;color: #fff;border-radius: 100%;z-index: 50;
  }
  .rest-info{
    overflow: hidden;
    .img-container{
      display: inline-block;float: left;margin-right: 15px;width: 130px;height: 130px;border-radius: 4px;position: relative;
      img{width: 100%;height: 100%;}
      .servingTime{
        width: 100%;height: 30px;line-height: 30px;text-align: center;color: #fff;display: inline-block;background-color: #999;
        font-size: 18px;position: absolute;bottom: 0;left: 0;
      }
      .isNewRestaurant{
        transform:rotate(-45deg);-webkit-transform:rotate(-45deg);position: absolute;left: -30px;top: -30px;width: 56px;height: 56px;line-height: 90px;text-align: center;
        color: #fff;display: inline-block;font-size: 14px;padding: 5px;background-color: #1ce37b;
      }
    }
    .rest-info-right{
      width: calc(100% - 145px);float: left;
      .info-container-lineOne{
        display: inline-block;width: 100%;
        .isPremium{
          background-color: #ffdb33;border-radius: 4px;width: 54px;height: 32px;line-height: 32px;
          font-size: 20px;color: #56290b;display: inline-block;text-align: center;margin-right: 10px;
        }
        .restaurantName{
          font-weight: normal;font-size: 28px;color: #333;display: inline-block;max-width: 75%;font-weight: bold;
          vertical-align: middle;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
        }
        .invoice{
          display: inline-block;float: right;width: 24px;height: 24px;line-height: 24px;text-align: center;
          border: 1px solid #e5e5e5;color: #adadad;font-size: 18px;
        }
      }
      .info-container-lineTwo{
        margin-top: 20px;display: inline-block;width: 100%;
        .evaluationContainer{
          vertical-align: middle;
          img{
            width: 115px;
          }
        }
        .rating{color: #ff4848;font-size: 24px;margin-left: 10px;}
        .sales{color: #666;font-size: 20px;margin-left: 10px;}
        .rightBox{
          float: right;
          .isOnTime{border: 1px solid #ffab00;color: #ffab00;border-radius: 4px;font-size: 18px;padding: 3px 5px;}
          .isVipDelivery{background-color: #ffab00;border-radius: 4px;padding: 3px 5px;color: #fff;font-size: 18px;margin-left: 10px;}
        }
      }
      .info-container-lineThree{
        margin: 20px 0;display: inline-block;width: 100%;
        .vertical{height: 20px;width: 1px;background-color: #e5e5e5;display: inline-block;margin: 0 10px;vertical-align: middle;}
        .deliveryAmount{font-size: 20px;color: #666;}
        .agentFee{font-size: 20px;color: #666;}
        .rightBox{
          display: inline-block;float: right;
          .distance{font-size: 20px;color: #666;}
          .deliverySpent{font-size: 20px;color: #ffab00;}
        }
      }
      .horizontal{width: 100%;height: 1px;background-color: #e5e5e5;display: inline-block;margin: 10px 0;}
    }
  }
  .rest-activities{
    position: relative;
    .activityContainer{
      margin-bottom: 9px;width: 75%;display: inline-block;
      span{font-size: 18px;color: #666;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
      span:nth-child(1){vertical-align: middle;}
      span:nth-child(2){display: inline-block;width: 85%;vertical-align: middle;}
      .actTag{background-color: #ff4848;color: #fff;border-radius: 4px;padding: 3px;}
      .actDescription{margin-left: 10px;}
    }
    .activityContainer:nth-last-child(1){
      margin-bottom: 0px;
    }
    .showAct{
      position: absolute;right: 2%;top: .1rem;font-size: 20px;color: #adadad;display: inline-block;padding-right: 25px;
      background-image: url(../img/arrowDG.png);background-repeat: no-repeat;background-size: 12px;background-position: 90% center;
    }
    .hideAct{
      position: absolute;right: 2%;top: .1rem;font-size: 20px;color: #adadad;display: inline-block;padding-right: 25px;
      background-image: url(../img/arrowUG.png);background-repeat: no-repeat;background-size: 12px;background-position: 90% center;
    }
  }
  .rest-activities-show{transition: height 0.5s ease;height: 140px;}
  .rest-activities-hide{transition: height 0.5s ease;height: 70px;}
}

.rightCom{
  .cancel{font-size: 0.28rem;color: #ffa000;display: inline-block;width: 100%;text-align: center;}
}

.wrap .noOne{
  height: calc(100% - 92px);z-index: 10;top: 92px;
}

.searchMain{
  width: 80% !important;
}
.searchBar .rightCom{
  width: 20% !important;
}

.contact-list .add-text{
  background-color: #fff;color: #ffab00;font-size: 34px !important;line-height: .8rem;
}
// .touch-layer{
//   height: calc(100% - 2rem)!important;
// }

.list{
  -webkit-overflow-scrolling: touch;
}

.goTop{
  position: fixed;bottom: .6rem;right: 8%;z-index: 98;width: 1rem;height: 1rem;border-radius: 50%;
  box-shadow: 0 0 0.3rem 0.03rem rgba(0, 0, 0, 0.3);
  img{
    width: 100%;height: 100%
  }
}

.operate-filter{
  position: relative;z-index: 99;top:0;left: 0;width: 100%;overflow: hidden;
  span{font-size: 26px;}
  .tag{
    border: 1px solid #ff9a00; color: #ff9a00;display: inline-block;padding: 0 5px;border-radius: 10px;
    margin-right: 20px;font-size: 24px;
  }
  .tagG{
    border: 1px solid #6ac751; color: #6ac751;display: inline-block;padding: 0 5px;border-radius: 10px;
    margin-right: 20px;font-size: 24px;
  }
  .btnBox{
    padding: 30px;background-color: #fff;
    button{
      font-size: 32px;color: #fff;background-color: #ff9a00;border-radius: 10px;width: 100%;height: 80px;
      line-height: 80px;
    }
  }
}

.com-dataList-container{
  min-height: calc(100% - 90px);
}

// modal弹窗
.am-modal-mask{
  top: 90px;
}
.operate-filter-container{
  width: 100% !important;position: absolute;top: 90px;width: 100%;left: 0;overflow: hidden;
}
.am-modal.am-modal-transparent .am-modal-content{
  border-radius: 0;
}
.am-modal-body div{
  padding: 0;
}
.am-modal.am-modal-transparent .am-modal-content{
  padding: 0;
}
.am-modal.am-modal-transparent .am-modal-content .am-modal-body{
  padding: 0;
}
.am-list-item .am-list-line{
  padding-left: 30px;
}
