@import "./app.scss";

.orderPageBox{
  overflow-y: scroll;position: relative;height: 100%;
  .orderPage-container{
    overflow-y: scroll;position: relative;padding-bottom: 170px;height: calc(100% - 170px);
    .contact-container{}
    .arriveTime-container{

    }
    .pay-method{}
    .food-list{
      background-color: #fff;
      .deliverySpan{
        float: right;font-size: 18px;display: inline-block;padding: 1px 5px;border: 1px solid #999;color: #999;
        border-radius: 8px;
      }
      .isVipColor{
        color: #ffab00;border-color: #ffab00;
      }
      .food-list-box{
        padding: 30px;border: 1px solid #e5e5e5;border-left: 0;border-right: 0;
        .food-box{
          margin-bottom: 20px;width: 100%;
          span{display: inline-block;font-size: 28px;color: #333;}
          .foodName{width: 75%;}
          .foodLeng{color: #adadad;width: 10%;}
          .foodPrice{width: 15%;text-align: right;float: right;}
        }
        .food-box:nth-last-child(1){
          margin-bottom: 0;
        }
      }
      .agentFee-container{
        span{font-size: 28px;color: #333;display: inline-block;}
        span:nth-child(1){width: 90%;}
        span:nth-child(2){width: 10%;text-align: right;}
      }
      .discount-box{
        padding: 25px 30px;font-size: 28px;
        .foodPrice{
          float: right;
        }
      }
    }
    .order-tips{}
  }
  .bottomBar{
    position: fixed;width: 100%;bottom: 0;
    .sub-address{
      bottom: 100px;width: 100%;height: 55px;line-height: 55px;padding: 0 0 0 30px;background-color: #fffad8;
      box-sizing: border-box;
      span{font-size: 24px;color: #333;}
      p{
        display: inline-block;font-size: 24px;color: #999;width: 80%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;vertical-align: middle;
      }
    }
    .buttomBar-container{
      bottom: 0;left: 0;width: 100%;
      .order-info-container{
        height: 100px;width: 100%;
        .price-box{
          width: 60%;height: 100%;background-color: #fff;display: inline-block;float: left;line-height: 100px;
          .you-will-pay{
            width: 60%;display: inline-block;height: 100%;font-size: 36px;color: #ff4848;
            text-align: center;box-sizing: border-box;padding-right: 10px;
            span:nth-child(1){font-size: 28px}
            span:nth-child(2){}
          }
          .discount-price{width: 40%;display: inline-block;height: 100%;font-size: 28px;color: #999;text-align: center;}
          .addressErr{display: inline-block;width: 100%;text-align: left;color: #ff4848;font-size: 24px;text-indent: 30px;}
        }
        .save-order{
          width: 40%;background-color: #ff9a00;height: 100%;display: inline-block;color: #fff;font-size: 38px;
        }
        .cantUse{
          width: 40%;background-color: #ff9a00;height: 100%;display: inline-block;color: #fff;font-size: 38px;
        }
      }
    }
  }
}
.am-picker-popup-header-left{color: #999 !important;}
.am-picker-popup-title{color: #333 !important;}
.am-picker-popup-item{color: #ffab00;}
.am-list-item .am-list-line {padding-left: 0 !important;}
.am-list-item .am-list-line .am-list-content{font-size: 28px;padding-left: 0 !important;}
.am-list-item .am-list-line .am-list-extra{font-size: 28px;}
.contact-list .listItem .iconBtn_l{display: none;}
// .searchBar .rightCom{}
.cancel{font-size: 0.28rem;color: #ffa000;display: inline-block;width: 100%;text-align: center;}
.a{
  text-overflow: ellipsis;white-space: nowrap;
}
.am-list-extra{
  max-width: 70%;
}

.contact-list-wrap .listItem{
  padding-left: 30px;padding-right: 30px;
}
