@import "common.scss";

.carouselWrap{
  width: 100%;
  height:auto;
  .itemlist{
    width: 100%;
    height:636px;
    background:#fff;
    padding:20px 0;
    // @include displayfs-bc;
    .item{
      width: 25%;
      // height:180px;
      height:30%;
      float:left;
      text-align: center;
      position:relative;
      img{
        display:inline-block;
        margin:10% 25% 10% 25%;
      }
      span{
          position:absolute;
          bottom:0;
          width: 100%;
          height:80px;
          line-height:80px;
          display:block;
          text-align: center;
          font-size:24px;
      }
    }
  }
  .slider-decorator-0{
    bottom:30px !important;
  }
}
