@import "common.scss";

.paotuiOrderWrap{
  width: 100%;
  height:100%;
  // overflow: hidden;
  .orderMain{
    width: 100%;
    height:calc(100% - 100px);
    overflow-x: hidden;
    overflow-y: scroll;
    .tipsWrap{
      background:#f5f5f6;
      font-size:24px;
      color:#999;
      .tips{
        color:#ffab00;
      }
    }
    .goods{
      width: 100%;
      height:auto;
      background:#fff;
      padding:32px 22px 14px 32px;
      .title{
        color:#333;
        font-size:28px;
        margin-bottom:32px;
      }
      .goodslist{
        width: 100%;
        li{
          min-width: calc(25% - 10px);
          height:58px;
          border:1px solid #999;
          border-radius: 8px;
          display:inline-block;
          line-height:58px;
          text-align: center;
          color:#666;
          font-size:24px;
          margin:0 10px 18px 0;
          padding:0 15px;
        }
      }
    }
    .tipsText{
      width: 100%;
      padding:0 32px;
      font-size: 24px;
      color:#999;
      line-height:34px;
    }
    .tel{
      width: 100%;
      display:flex;
      .am-input-item{
        display:flex;
        padding:0;
        height:60px;
        min-height:60px;
        .am-input-label-5{
          width: 20%;
        }
        .am-input-control{
          width: 80%;
          input{
            font-size: 28px;
          }
        }
      }
      .am-input-item:after{
        display:none;
      }
      .peopleInt{
        width: 40%;
      }
      .telInt{
        width: 60%;
        .am-input-label-5{
          margin:0;
          width: 16%;
        }
      }
    }
    .address{
      .am-list-brief{
        margin-top:10px;
      }
      .addressInt{
        padding:0;
        height:40px;
        min-height:40px;
        input{
          font-size: 26px;
          color:#999;
        }
      }
    }
    // 对小按键的处理
    .goContactList{
      width: 30px;
      height: 30px;
      // background: red;
      position: absolute;
      right: 32px;
    }
    // 删除小按钮
    .deleteAddress{
      width: 38px;
      height:38px;
      position: absolute;
      right: 32px;
      top:calc(50% - 19px);
      background:url('../img/deleteBtn.png') no-repeat;
      background-size: cover;
    }
  }
  .orderFooter{
    width: 100%;
    height:100px;
    background:#fff;
    div{
      float: left;
    }
    .price{
      width: 65%;
      height:100%;
      padding:0 32px;
      line-height: 100px;
      position:relative;
      span{
        display: inline-block;
      }
      .sl{
        font-size:28px;
        color:#999;
        float: left;
      }
      .sr{
        font-size: 28px;
        color:#ff4848;
        float: right;
        i{
          font-style: normal;
          font-size:38px;
          font-weight: 500;
        }
      }
      .sr_myfirst{
        // animation: myfirst 5s;
        width: 60%;
        transition: .5s;
        margin-right: 100%;
        transform: translateX(100%);
      }
      .sr_myfirstR{
        width: auto;
        transition: .5s;
        margin-right: 0;
      }
      @keyframes myfirst
      {
        from {float:right;}
        to {float: left;}
      }
    }
    .orderBtn{
      width: 35%;
      height:100%;
      background:#ffab00;
      color:#fff;
      text-align: center;
      font-size: 36px;
      line-height:100px;
      font-weight: 500;
    }
    .noUseBtn{
      background:#e5e5e5;
      float: right;
    }
  }
}
