
.paotuiOrderDetails{
  width: 100%;
  height:calc(100% - 208px);
  overflow: hidden;
  overflow-y: scroll;
  .briefDiv{
    width: 100%;
    height:auto;
    white-space:normal;
  }
  .imgIcon{
    width: 88px;
    height:88px;
  }
  .peopleIcon{
    color:#ffab00;
    span{
      // margin-left:15px;
    }
  }
  // 收货地址展示部分
  .PersonalInfoWrap{
    .orderContact{
      width: 30%;
      display:inline-block;
      vertical-align: top;
      padding-top:8px;
    }
    .cantactMain{
      width: 70%;
      display: inline-block;
      padding-top:10px;
      div{
        margin-bottom: 12px;
        height:auto;
        width: 100%;
        white-space: normal;
        letter-spacing: 1.5px;
        text-align: right;
        span{
          margin-left:20px;
        }
      }
      div:last-child{
        line-height:42px;
      }
    }
    .time{
      .am-list-line .am-list-extra{
        flex-basis: 65%;
      }
    }
  }
  .OrderTimeCom{
    .am-list-item .am-list-line .am-list-extra{
      flex-basis: 50%;
    }
  }
}

// 取消订单弹窗部分
.cannotOrder{
  width: 100%;
  height:52%;
  background:#fff;
  position:absolute;
  z-index: 10;
  bottom:0;
  .canNtitle{
    width: 100%;
    padding:30px;
    border-bottom:1px solid #e5e5e5;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    span{
      img{
        width: 30px;
        height:30px;
      }
    }
    span:nth-child(2){
      font-size:34px;
      color:#333;
    }
    span:nth-child(3){
      font-size:28px;
      color:#ffab00;
    }
    a{
      span{
        font-size:28px;
        color:#ffab00;
      }
    }
  }
  .canNmain{
    width: 100%;
    padding:25px 32px;
    .yesBtn{
      width: 100%;
      height:80px;
      background:#ffab00;
      color: #fff;
      font-size:38px;
      line-height: 80px;
      text-align: center;
      border-radius: 8px;
      margin-top:25px;
    }
    p{
      margin-top:25px;
      color:#999;
      font-size:24px;
    }
    .am-list-body{
      border: 1px solid #e5e5e5;
      border-radius: 12px;
    }
    .am-list-body:after{
      border:0;
    }
    .am-input-item{
      background:#f8f8f8 !important;
      border-radius: 12px;
      input{
        font-size:28px;
      }
    }
  }
  .tipspriceNotice{
    .am-notice-bar-icon{
      display: none;
    }
    .am-notice-bar-operation{
      display: none;
    }
    .am-notice-bar-marquee{
      padding-left:32px;
      color:#ff4848;
      font-size:24px;
    }
  }
}
