ul, li{
  list-style: none;
}
.carDetailsContainer{
  .detailsTitle{
    height: 100px;line-height: 100px;background-color: #fff;
    img{vertical-align: middle;margin: 0 10px;width: 80px;}
    span{font-size: 28px;color: #333;vertical-align: middle;}
  }
  .detailsContainer{
    height: 100%;overflow-y: scroll;
    .detailsGroup{
      .groupName{height: 50px;line-height: 50px;color: #999;font-size: 24px;text-indent: 16px;}
      ul{
        li{
          background-color: #fff;border-bottom: 1px solid #e5e5e5;
          .seriesTitle{
            padding: 0 16px;font-size: 28px;color: #333;height: 80px;line-height: 80px;
            background-position: 95% center;background-size: 26px;background-repeat: no-repeat;
          }
          .arrowDown{background-image: url('../img/arrowDown.png')}
          .arrowUp{background-image: url('../img/arrowUp.png')}
          .seriesInfo{
            background-color: #e4e4e4;overflow: hidden;
            .gearTypeContainer{
              padding: 0 16px;
              .gearTypeContainerTitle{font-size: 24px;color: #666;height: 50px;line-height: 50px;}
              .gearTypeContainerBox{
                padding: 10px 0;
                span{display: inline-block;width: 25%;margin: 0 50px 20px 0;height: 72px;line-height: 72px;background-color: #fff;color: #333;font-size: 28px;text-align: center;}
                .firstChoose{background-color: #fff7e5;color: #ff9a00;}
              }
            }
            .displacementContainer{
              padding: 0 16px;
              .displacementTitle{font-size: 24px;color: #666;height: 50px;line-height: 50px;}
              .displacementBox{
                padding: 10px 0;
                span{display: inline-block;width: 25%;margin: 0 50px 20px 0;height: 72px;line-height: 72px;background-color: #fff;color: #333;font-size: 28px;text-align: center;}
                .secondChoose{background-color: #fff7e5;color: #ff9a00;}
              }
            }
            .modelListContainer{
              .modelListBox{
                .modelItem{
                  background-color: #fff;height: 80px;line-height: 80px;text-indent: 16px;font-size: 24px;color: #666;
                  border-bottom: 1px solid #e5e5e5;
                }
              }
            }
          }
          .hideInfo{height: 0px;}
          .showInfo{
            height: auto;-moz-transition: height .5s linear;
            -o-transition: height .5s linear;-webkit-transition: height .5s linear;
            transition: height .5s linear;
          }
        }
      }
    }
  }
}
