@import "../common.scss";

.categories-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  span {
    @include s_fontDemo(18px, 18px, $font-ad);
  }
}


.brand-categories {
  padding-top: 20px;
  .all-commodity {
    margin-bottom: 20px;
    background: $bg-ff;
  }
  .brand-categories-list {
    overflow: hidden;
    li {
      background: $bg-ff;
      .list-header {
        height: 90px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 30px;
        padding-right: 20px;
        span {
          &:nth-of-type(1) {
            @include s_fontDemo(32px, 90px, $font-33);
          }
          &:nth-of-type(2) {
            @include s_fontDemo(24px, 90px, $font-99);
          }
        }
      }
      .list-content {
        overflow: hidden;
        p {
          width: 50%;
          box-sizing: border-box;
          margin-bottom: 10px;
          background: $bg-ff;
          float: left;
          &:nth-child(odd) {
            padding-right: 5px;
          }
          &:nth-child(even) {
            padding-left: 5px;
          }
          span {
            display: block;
            background: $bg-f3;
            padding-left: 30px;
            @include s_fontDemo(24px, 100px, $font-33);
          }
        }
      }
    }
  }
}

.brand-categories-slide {
  background-color: $bg-f3 !important;
}
