@import "../common.scss";

.brand-container {
  background: $bg-f3;
  .brand {
    height: 100%;
    padding-top: 100px;
    box-sizing: border-box;
    overflow-y: auto;
    .brand-header-container {
      position: relative;
      width: 100%;
      height: 180px;
      .brand-header-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-filter: blur(3px);
                filter: blur(3px);
        background-size: 100% auto !important;
      }
      .brand-header {
        background: rgba(0, 0, 0, .3);
        padding: 70px 30px 30px;
        overflow: hidden;
        position: relative;
        z-index: 2;
        .brand-header-left {
          @include s_blockDemo(80px, 80px);
          float: left;
          margin-right: 20px;
          border-radius: 4px;
          span {
            width: 100%;
            height: 100%;
            display: block;
            background-size: auto 100% !important;
          }
        }
        .brand-header-mid {
          float: left;
          p {
            &:nth-of-type(1) {
              @include s_fontDemo(28px, 28px, $font-ff);
              margin-bottom: 13px;
            }
          }
          a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 32px;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            @include s_fontDemo(24px, 32px, $font-ff);
            .am-icon {
              margin-right: 10px;
            }
          }
        }
        .brand-header-right {
          float: right;
          border-left: 1px solid $font-ff;
          padding-left: 13px;
          overflow: hidden;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          p {
            float: left;
            &:nth-of-type(1) {
              @include s_fontDemo(28px, 36px, $font-ff);
              margin-right: 10px;
              span {
                display: block;
              }
            }
            &:nth-of-type(2) {
              @include s_fontDemo(28px, 36px, $font-ff);
              background: $bg-ff;
              border-radius:100px;
              width:110px;
              height:46px;
              @include s_fontDemo(24px, 46px, $theme);
              text-align: center;
              &.attention-false {
                background: $theme;
                color: $font-ff;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                .am-icon {
                  margin-right: 5px;
                }
              }
            }
          }
        }

      }
    }

    .commodity-list-container {
      /* height: calc(100% - 180px);*/
      /* padding-bottom: 80px;*/
      /* .commodity-list {*/
      /*   height: calc(100% - 102px);*/
      /*   overflow-y: auto;*/
      /* }*/
    }
    .footer-tips {
      @include s_fontDemo(28px, 70px, $font-99);
      margin-bottom: 10px;
      text-align: center;
    }
  }
}
