@mixin s_center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform:translateX(-50%);     /* IE 9 */
    -moz-transform:translateX(-50%);    /* Firefox */
    -webkit-transform:translateX(-50%); /* Safari 和 Chrome */
    -o-transform:translateX(-50%);
}
@mixin s_middle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform:translateY(-50%);     /* IE 9 */
    -moz-transform:translateY(-50%);    /* Firefox */
    -webkit-transform:translateY(-50%); /* Safari 和 Chrome */
    -o-transform:translateY(-50%);
}
@mixin s_allCenter{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform:translateX(-50%) translateY(-50%);     /* IE 9 */
    -moz-transform:translateX(-50%) translateY(-50%);    /* Firefox */
    -webkit-transform:translateX(-50%) translateY(-50%); /* Safari 和 Chrome */
    -o-transform:translateX(-50%) translateY(-50%);
}
/*字体家族，用于设置固定颜色和大小的字体模版，使用时需要传入两个参数：$size对应大小，$l对应杭高，$clr对应颜色，其中页面中用到的颜色都使用变量进行定义了，命名是颜色+rgb的三个数字的倒数第二个数字*/
@mixin s_fontDemo ($size, $l, $clr) {
    font-size: $size;
    line-height: $l;
    color: $clr;
}
/*块元素模版，参数对应：$w对应宽，$h对应高，*/
@mixin s_blockDemo ($w, $h) {
    width: $w;
    height: $h;
}


.no-support-city {
  overflow: hidden;
  width: 100%;
  height: 550px;
  @include s_middle;
  img {
    width: 260px;
    display: block;
    margin: 0 auto 30px;
  }
  .text {
    @include s_fontDemo(28px, 36px, #666);
    margin-bottom: 75px;
    text-align: center;
  }
  ul {
    overflow: hidden;
    @include s_center;
    li {
      overflow: hidden;
      width: 120px;
      float: left;
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
      h1 {
        @include s_blockDemo(80px, 80px);
        border: 1px solid #ffab00;
        border-radius: 100%;
        margin: 0 auto 20px;
        position: relative;
        .am-icon {
          @include s_allCenter;
        }
      }
      p {
        @include s_fontDemo(28px, 36px, #666);
        text-align: center;
      }
    }
  }
}
