*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);box-sizing: border-box;}
a{color: #000}
html{font-size: 16px;height: 100%;overflow: hidden;}
body{height: 100%;background: #f5f5f6;font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Source Han Sans,Noto Sans CJK Sc,Microsoft YaHei,sans-serif;-webkit-font-smoothing:antialiased;overflow-y: scroll;}
ul{list-style: none;}
h2{font-weight: normal;}
input{border: none;outline: none;}
input[type="search"]{-webkit-appearance:none;}
input::-webkit-search-cancel-button {display: none;}
button{outline: none;border: 0;}

body{
  background-color: #f5f5f6;
}
//Parameter declarations,$W wide $h high,
$w : 100%;
$h : 100%;
$posa : absolute;
$posr : relative;





//Block of code that defines public
// Relative to the above and below Center
// @mixin s_allCenter{
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translateX(-50%) translateY(-50%);
//     -ms-transform:translateX(-50%) translateY(-50%);     /* IE 9 */
//     -moz-transform:translateX(-50%) translateY(-50%);    /* Firefox */
//     -webkit-transform:translateX(-50%) translateY(-50%); /* Safari 和 Chrome */
//     -o-transform:translateX(-50%) translateY(-50%);
// }
@mixin s_allCenter($value: 50%){
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-$value);
    -ms-transform:translateX(-50%) translateY(-$value);     /* IE 9 */
    -moz-transform:translateX(-50%) translateY(-$value);    /* Firefox */
    -webkit-transform:translateX(-50%) translateY(-$value); /* Safari 和 Chrome */
    -o-transform:translateX(-50%) translateY(-$value);
}
$displayArray: block inline inline-block none;

@each $d in $displayArray {
  .#{ $d } {
    display: $d
  }
}

$positionArray: absolute relative fixed;

@each $p in $positionArray {
  .pos-#{ $p } {
     position: $p
  }
}
