.title{
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  li{
    float: left;
    text-align: center;
    width: 50%;
    line-height: 86px;
    border-bottom: 4px solid #fff;
    color: #333333;
    font-size: 28px;
  }
}
