*{padding: 0;margin: 0}
body{background-color: #f5f5f6;}
.noCoupon{background-image: url('../images/6DB8BB14-84BE-4363-BAD0-7B65871D9340@3x.png');background-repeat: no-repeat;text-align: center;width: 30%;background-position: top center;padding-top: 24%;font-size: 0.22rem;color: #666666;position: absolute;
            top: 50%;left: 50%;background-size: 70%;height: 80px;line-height: 110px;}

.listItem-container{
  width: calc(100% - 30px);background-color: #fff;list-style: none;padding: 30px;border-bottom: 1px solid #e5e5e5;padding-right: 0;
    .orderInfor{
      img{width: 120px;height: 120px;border: 1px solid #f5f5f6;}
      .orderDetails{
        margin-left: 36px;width: 72%;display: inline-block;vertical-align: top;
        p{ font-size: 0.32rem;color: #666;display: inline-block;width: 75%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-top: 10px;}
        .displayStatus{float: right;margin-top: 10px;}
        .payValue{
          font-size: 0.32rem;color: #111;margin-top: 30px;
          .order-time{color: #999;float: right;font-weight: normal;font-size: 0.28rem;}
        }
      }
    }
    .orderBtn{
      text-align: right;
      button{width: 138px;height: 38px;color: #999;line-height: 40px;text-align: center;font-size: 0.24rem;display: inline-block;border-radius: 4px;background-color: #fff;}
      .deleteOrder{border: 1px solid #999;}
      .payNow{border: 1px solid #fa8919; color: #fa8919;margin-left: 15px;}
    }
}
.listItem-container:nth-child(1){
  margin-top: 30px;
}
.empty-container{background-color: #f5f5f6;}
