@import './common.scss';

body {
  // height: 5500px;             // 制作pdf文档时开启
}
.resume {
  width: 100%;
  // height: 5500px;             // 制作pdf文档时开启
  height: 100%;            // 制作pdf文档时关闭
  overflow: auto;          // 制作pdf文档时关闭
  -webkit-overflow-scrolling: touch;
  max-width: 1700px;
  margin: 0 auto;
  a {
    text-decoration: none;
    display: block;
    &:hover {
      color: #6d9bc4 !important;
      cursor: pointer;
    }
  }
  .resume-left {
    width: 35%;
    float: left;
    overflow-x: hidden;
    position: relative;
    // height: 100% !important;   // 制作pdf文档时开启
    .bg {
      height: 100%;
      width: calc(100% - 34px);
      background: #333;
    }
    ul {
      height: 100%;
      width: 100%;
      color: #fff;
      position: absolute;
      top: 0;
      li {
        margin-bottom: 80px;
        &:first-of-type {
          padding: 100px 64px 0 30px;
          margin-bottom: 100px;
          img {
            width: 100%;
          }
        }
        &:last-of-type {
          margin-bottom: 0;
        }
        h1 {
          @include s_fontDemo(24px, 54px, $font-ff);
          font-weight: normal;
          width: calc(100% - 10px);
          transform: translateX(10px);
          margin-bottom: 40px;
          position: relative;
          height: 54px;
          span {
            float: left;
            &:nth-of-type(1) {
              width: 0;
              height: 0;
              border-top: 27px solid transparent;
              border-right: 54px solid #6d9bc4;
              border-bottom: 27px solid transparent;
            }
            &:nth-of-type(2) {
              width: calc(100% - 54px);
              height: 54px;
              background: #6d9bc4;
              padding-left: 30px;
              box-sizing: border-box;
            }
            &:nth-of-type(3) {
              width: 0;
              height: 0;
              border-top: 34px solid #386b99;
              border-right: 34px solid transparent;
              position: absolute;
              right: 0;
              top: 54px;
            }
          }
        }
        p, a {
          @include s_fontDemo(16px, 36px, $font-ff);
          padding-left: 20px;
          width: calc(100% - 70px);
          text-indent: 34px;
          margin-bottom: 5px;
        }
      }
    }
  }
  .resume-right {
    width: 65%;
    float: left;
    padding-left: 60px;
    padding-top: 120px;
    padding-bottom: 30px;
    box-sizing: border-box;
    .resume-right-title {
      overflow: hidden;
      margin-bottom: 60px;
      font-weight: normal;
      span {
        float: left;
        &:nth-of-type(1) {
          @include s_fontDemo(28px, 56px, $font-66);
          margin-right: 60px;
        }
        &:nth-of-type(2) {
          @include s_fontDemo(36px, 48px, $font-33);
        }
      }
    }
    ul.experience-list {
      li {
        margin-bottom: 40px;
        &:last-of-type {
          margin-bottom: 0;
        }
        h1 {
          @include s_fontDemo(28px, 40px, $font-33);
          font-weight: normal;
          @include s_border_b;
          margin-bottom: 20px;
          padding-bottom: 15px;
        }
        .content {
          margin-bottom: 20px;
          // padding-right: 60px;       // 制作pdf文档时开启
          &:last-of-type {
            margin-bottom: 0;
          }
          p {
            &:nth-of-type(1) {
              @include s_fontDemo(28px, 40px, $font-33);
              padding-bottom: 10px;
              &:hover {
                color: #6d9bc4;
                cursor: pointer;
              }
              &.disable {
                color: $font-33;
                cursor: text;
              }
            }
            &:nth-of-type(2) {
              text-indent: 34px;
              @include s_fontDemo(24px, 40px, $font-66);
              span {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .resume {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-left: 0;
    margin-right: 0;
    .resume-left {
      width: 100%;
      height: 100% !important;
      float: initial;
      overflow: initial;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li {
          width: 100%;
          margin-bottom: 30px;
          &:first-of-type {
            display: none;
          }
          h1 {
            font-size: 28px;
            margin-bottom: 20px;
          }
          p {
            font-size: 26px;
            line-height: 40px;
            padding-right: 30px;
            margin-bottom: 5px;
          }
        }
      }
    }
    .resume-right {
      width: 100%;
      height: auto;
      float: initial;
      overflow: initial;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 0;
      background: $bg-ff;
      .resume-right-title {
        h1 {
          span {
            &:nth-of-type(1) {
              @include s_fontDemo(32px, 56px, $font-66);
            }
            &:nth-of-type(2) {
              @include s_fontDemo(38px, 48px, $font-33);
            }
          }
        }
      }
      .experience-list {
        li {
          margin-bottom: 30px;
          &:last-of-type {
            margin-bottom: 0;
          }
          h1 {
            padding-bottom: 0px;
            margin-bottom: 10px;
          }
          .content {
            padding-bottom: 15px;
            p {
              &:nth-of-type(1) {
                font-size: 16px;
                margin-bottom: 10px;
              }
              &:nth-of-type(2) {
                font-size: 14px;
                span {
                  display: block;
                }
              }
            }
          }
        }
      }
    }

    .s-footer-tips {
      display: block;
    }
  }
}