@import "common.scss";

// 火车意外险 须知
.AccidentRistMask{
  width: 100%;
  height:100%;
  padding:32px;
  position: absolute;
  z-index: 10;
  background:#fff;
  .title{
    width: 100%;
    text-align: center;
    font-size:32px;
    color:#222;
    padding:40px 0;
    font-weight: 700;
  }
  .details{
    width: 100%;
    height:78%;
    overflow: hidden;
    overflow-y: scroll;
  }
  p{
    font-size:28px;
    color:#999;
    line-height:35px;
    margin-bottom:15px;
  }
  img{
    width: 82px;
    height:82px;
    position:absolute;
    bottom:6%;
    left:calc(50% - 41px);
  }
}
