@import "common.scss";

.AccidentCom{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background:#fff;
  .AccidentComWrap{
    width: 100%;
    height:85%;
    overflow: hidden;
    overflow-y: scroll;
  }
  .AccidentRistWrap{
    .am-list-body div:not(:last-child) .am-list-line:after{
      width:0;
    }
    border-bottom:1px solid #e5e5e5;
  }
  .AccidentTitle{
    span{
      font-size: 28px;
      display: inline-block;
      width: 25%;
    }
    .quxiao{
      color:#999;
      display:none;
    }
    .title{
      color:#222;
      // width: 50%;
      width: 100%;
      text-align: center;
      font-size:32px;
    }
    .queding{
      color:#ffab00;
      text-align: right;
      display:none;
    }
  }
  .AccidentBtn{
    .chooseBtn{
      width: 25%;
      float:left;
      .am-icon{
        vertical-align: top;
      }
      span{
        margin-left:15px;
      }
    }
  }
  .AccidentPayment{
    span{
      font-size:28px;
    }
    .miniN{
      color:#666;
      margin-right:40px;
    }
    .name{
      color:#333;
    }
  }
  .AccidentPeople{
    font-size:28px;
    div{
      margin-bottom:10px;
    }
    .title{
      span:nth-child(1){
        color:#666;
        margin-right:15%;
      }
      span:nth-child(2){
        color:#333;
        font-weight: 500;
      }
    }
    .fenlie{
      span:nth-child(1){
        color:#666;
        margin-right: 20%;
      }
      span:nth-child(2){
        color:#999;
      }
    }
    .tips{
      color:#ffab00;
      font-size:24px;
      margin-bottom:2px;
    }
    .tuibao{
      color:#999;
      font-size:20px;
      display:inline-block;
      padding:6px 8px;
      border:1px solid #999;
      border-radius: 8px;
    }
    .am-list-item .am-list-line {
      .am-list-content{
        width:85%;
      }
      .am-list-extra{
        flex-basis: 22%;
        -webkit-flex-basis: 22%;
      }
    }
  }
  img{
    width: 82px;
    height:82px;
    position:absolute;
    bottom:6%;
    left:calc(50% - 41px);
  }
}
