@import "common.scss";

// 明细部分

.InvoiceDetails {
  position:absolute;
  z-index: 10;
  width: 100%;
  height:100%;
  background:#fff;
  padding:98px;
  .title{
    width: 100%;
    span{
      display:inline-block;
      width: 30%;
    }
    .line{
      height:2px;
      background:#e5e5e5;
      margin-bottom:8px;
    }
    .text{
      width: 40%;
      text-align: center;
      font-size: 32px;
      color:#333;
      font-weight: 700;
    }
  }
  .price{
    width: 100%;
    height:216px;
    line-height: 216px;
    font-size: 36px;
    color:#ffab00;
    text-align: center;
    font-weight: 700;
  }
  .list{
    width: 100%;
    p{
      padding-bottom:30px;
      span{
        font-size:28px;
        color:#666;
      }
      span:nth-child(1){
        color:#333;
      }
      span:nth-child(2){
        float:right;
      }
      .Preferential{
        color:#ff4848;
      }
    }
    .thoughSpan{
      span{
        color:#999;
        text-decoration: line-through;
      }
    }
  }
  img{
    width: 82px;
    height:82px;
    position:absolute;
    bottom:10%;
    left:calc(50% - 41px);
  }
}
