@import "common.scss";

.orderWrap{
  width: 100%;
  height:100%auto;
  .orderMain{
    width: 100%;
    height:calc(100% - 99px);
    overflow: hidden;
    overflow-y: scroll;
    .accidenRist{
      .am-list-line{
        min-height:148px;
      }
    }
    .accidenRist{
      .am-icon{
        position:absolute;
        top:28px;
        margin-left: 10px;
      }
      .am-list-brief{
        font-size:24px;
      }
      .accidenPrice{
        position:absolute;
        right:28%;
        top:60px;
        font-size:28px;
        color:#ff4848;
        font-weight: 600;
        i{
          font-style: normal;
          color:#999;
        }
      }
    }
    .NoticeBar{
      width: 100%;
      padding:25px 32px;
      background:#fefceb;
      font-size: 24px;
      color:#333;
      line-height: 30px;
      letter-spacing: 2px;
      border-top:1px solid #e5e5e5;
    }
    .am-list-item{
      .am-input-label{
        font-size:28px;
      }
      .am-input-control{
        input{
          font-size:28px;
        }
      }
    }
  }
  .footerWrap{
    width: 100%;
    height:99px;
    background:#fff;
    div{
      float:left;
      height:99px;
    }
    .footerL{
      width: 65%;
      padding:0 32px;
      span{
        display: inline-block;
        width: 100%;
      }
      .priceSum{
        color:#ff4848;
        font-size:28px;
        margin-top:18px;
      }
      .pricePro{
        color:#999;
        font-size:24px;
      }
      .promotion{
        margin-top:34px;
      }
    }
    .footerR{
      width: 35%;
      background:#ffab00;
      color:#fff;
      font-size:36px;
      text-align: center;
      line-height: 99px;
      font-weight: 700;
    }
    .footerSpan{
      background: #e5e5e5;
    }
    .detailWrap{
      height:99px;
      position:absolute;
      right:38%;
      line-height:99px;
      color:#ffab00;
      font-size:24px;
      .am-icon{
        width: 30px;
        height:30px;
        margin-left:10px;
        vertical-align: middle;
      }
    }
  }
}
