@import "common.scss";

.refundlistwrap{
  span{
    font-size:25px;
  }
  .refundTitleL{
    width: 50%;
    height:50px;
    line-height:50px;
    display: inline-block;
    vertical-align: top;
    span{
      margin-right:25px;
    }
  }
  .refundTitleR{
    width: 50%;
    height:50px;
    line-height:50px;
    display: inline-block;
    text-align: right;
    span{
      vertical-align: top;
      margin-left:20px;
    }
  }
  .refundTitleR2{
    width: 100%;
    height:50px;
    line-height:50px;
    display: inline-block;
    // text-align: right;
    span{
      vertical-align: top;
      margin-left:20px;
    }
    .refundTime{
      margin-left:0;
    }
    .refundRight{
      float:right;
    }
  }
  .refundedTips{
    width: 100%;
    margin:15px 0;
    span{
      margin-right:15px;
      color:#666;
    }
    .tips{
      color:#999;
    }
  }
}
.refundCountPrice{
  color:#ff4848;
  margin-right: 10px;
  float:right;
  font-size:28px;
}
.orderrefund{
  font-size:28px;
}
