@import "common.scss";

.orderDetailList{
  width: 100%;
  height:calc(100% - 200px);
  overflow: hidden;
  overflow-y: scroll;
  .cardWrapsuccess{
    background:rgb(255, 251, 242);
  }
  .newcardWrap{
    .grabXuzhi{
      vertical-align: top;
      color:#ffab00;
      font-size:28px;
      .am-icon{
        width:34px;
        height:34px;
        margin-right:10px;
      }
    }
    .cardItem{
      .time{
        font-size:63px;
      }
    }
    .cardWrap{
      border: none;
    }
  }
  .orderhao{
    margin-right:10px;
  }
  .qupiaohao{
    width: 100%;
    background:#d8d8d8;
    p{
      text-align: center;
    }
    .qupiaoText{
      opacity:0.48;
      font-size:28px;
      color:#303030;
      padding-top: 18px;
    }
    .qupiaoId{
      font-size:40px;
      color:#575757;
      padding: 12px 0 24px;
      font-weight: 700;
    }
  }
  .phoneList{
    .am-list-item {
      .am-input-control{
        input{
          font-size:28px;
        }
      }
      .am-input-label{
        font-size:28px;
      }
    }
  }
  // 包商上不支持高清方案
  .am-list-item .am-list-line .am-list-extra{
    flex-basis: 50%;
  }
}
.PassengerWrap{
  .passengerL{
    display: inline-block;
    width: 25%;
    vertical-align: top;
  }
  .passengerR{
    display:inline-block;
    width: 70%;
    span{
      margin-bottom:10px;
    }
    span:nth-child(1){
      display:inline-block;
      width: 25%;
      color:#333;
    }
    span:nth-child(2){
      color:#999;
    }
  }
}
.pointTime{
  .itemOrgan{
    span{
      color:#ffab00;
    }
  }
}
// 抢票部分
.grabmessageWrap{
  width: calc(100% - 40px);
  height:auto;
  margin: 0 20px 32px 20px;
  background:#fff;
  // 抢票确认订单部分
  .StationWrap{
    width: 100%;
    height:142px;
    font-size:40px;
    color:#333;
    background: rgba(255,171,0,0.05);
    div{
      display:inline-block;
    }
    .otoft{
      width: 35%;
      line-height:142px;
      text-align: center;
      color:#333;
      font-weight: 700;
      font-size:40px;
    }
    .myimg{
      width: 30%;
      height:100%;
      text-align: center;
      vertical-align: top;
      .mytext{
        font-size:24px;
        color:#ffab00;
        margin-top:36px;
        display:block;
      }
      img{
        width: 80%;
        // margin-top:36px;
      }
    }
  }
  .grabStation{
    width: 100%;
    padding: 24px 32px 5px 32px;
    .item_station{
      padding-bottom:20px;
      word-break:break-all;
      span{
        margin-right: 3%;
        font-size:24px;
        color:#333;
      }
      .itemS{
        margin:0;
      }
      .itemS_t{
        vertical-align: top;
        // width:25%;
        display:inline-block;
        // background:red;
      }
      .item_checi{
        width: 75%;
        display:inline-block;
        span{
          margin-right: 5%;
          display:inline-block;
        }
      }
      .item_time{
        width: 75%;
        display:inline-block;
        // background:pink;
        // display: flex;
        span{
          margin-right: 5%;
          display:inline-block;
        }
      }
    }
  }
}
.grabpeopleWrap{
  width: 100%;
  height:auto;
  background:#fff;
  border-bottom:1px solid #f5f5f6;
  padding: 20px 32px;
  .item_people{
    width: 100%;
    height:50px;
    line-height:50px;
    span{
      display:inline-block;
      font-size:28px;
      color:#333;
    }
    .name{
      width: 20%;
    }
    .type{
      color:#999;
    }
  }
}
// 抢票成功乘客信息展示部分
.grabSuccessWrap{
  background:#fff;
  .grabXuzhi{
    vertical-align: top;
    color:#ffab00;
    font-size:28px;
    .am-icon{
      width:34px;
      height:34px;
      margin-right:10px;
    }
  }
}
.grabstationShow{
  width: 100%;
  height:150px;
  background:rgba(255,171,0,0.05);
  div{
    float:left;
    width: 33.3%;
    height:100%;
    text-align: center;
  }
  span{
    display: block;
  }
  img{
    width: 70%;
  }
  .orderImg{
    width: 100%;
  }
  .oto{
    span:nth-child(1){
      font-size: 24px;
      color:#666;
      margin-top:32px;
    }
    span:nth-child(2){
      font-size: 63px;
      color:#333;
      // margin-top:32px;
      font-weight: 700;
    }
    span:nth-child(3){
      font-size: 24px;
      color:#666;
    }
  }
  .myimg{
    span:nth-child(1){
      margin-top:45px;
      margin-bottom:10px;
      // color:#ffab00;
      color:#666;
    }
    .title{
      color:#666;
      margin-top:10px;
    }
  }
}

.blm-service-phone-wrap li a{
  color: #000;
}
