@import "common.scss";

.PassengerInformWrap{
  width: 100%;
  span{
    display:inline-block;
  }
  .oto{
    font-size:28px;
    color:#333;
  }
  .Orange{
    color:#ffab00;
  }
  .passengerLI{
    // display:inline-block;
    float:left;
    width: 55%;
    line-height:40px;
    // .oto{
    //   width: 70%;
    // }
    .item{
      padding:0 0 20px 0;
      span:nth-child(1){
        margin-right:10%;
      }
    }
  }
  .passengerRI{
    // display:inline-block;
    float:right;
    width: 45%;
    padding-top:4px;
    .item{
      text-align: right;
      padding:0 0 20px 0;
      span:nth-child(2){
        margin-left:8%;
      }
      .zuohao{
        font-size:24px;
      }
      .fentui{
        padding:5px 20px;
        border:1px solid #6e6e6e;
        border-radius: 8px;
        color:#6e6e6e;
        margin-left:10%;
      }
      .zhihui{
        color: #ccc;
        border:1px solid #ccc;
      }
      .hidden{
        display: none;
      }
    }
  }
  .itemChange{
    // width: 100%;
    // height:100%;
    // position:absolute;
    // top:0;
    // left:0;
    // background:rgba(255,255,255,0.5);
  }
}

// 退票部分
.refundWrap{
  .refundListWrap{
    width: 100%;
    height: calc(100% - 200px);
    overflow: hidden;
    overflow-y: scroll;
  }
  .refundList{
    width: 100%;
    height:calc(100% - 199px);
    font-size:28px;
    span{
      margin-right:6%;
    }
    .numStr{
      float:right;
      color:#999;
      margin-right:1%;
    }
    .titleSpan{
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      font-size:28px;
      .am-icon{
        width: 36px;
        height:36px;
      }
    }
    .am-list-body:after{
      border: none;
    }
    .gaitui{
      .am-list-line .am-list-extra{
        flex-basis: 100%;
      }
    }
  }
  .refundFooter{
    width: 100%;
    height: 100px;
    // position:absolute;
    // bottom:0;
    background:#ffab00;
    color:#fff;
    font-size:38px;
    line-height:100px;
    text-align: center;
    font-weight: 700;
  }
  .refundFooterNouse{
    background: #e5e5e5;
  }
  .am-whitespace{
    background:#f5f5f6;
  }
  .noticeBtn{
    width: 100%;
    display: inline-block;
    text-align: left;
  }
}
// 弹窗里面的字体颜色
.am-modal-button-group-v .am-modal-button{
  color:#ffab00;
}

// 改签弹窗样式
.canChangeApplyCom{
  width: 70%;
  height:auto;
  position:absolute;
  z-index: 10;
  background:#fff;
  top:50%;
  transform: translateY(-50%);
  left:15%;
  border-radius: 12px;
  .tips{
    height:auto;
    padding:30px;
    font-size:32px;
    color:#333;
    text-align: center;
  }
  .canChangeBtn{
    width: 100%;
    height:108px;
    text-align: center;
    color:#ffab00;
    border-top:1px solid #f5f5f6;
    font-size:36px;
    line-height: 108px;
  }
}
