@import 'common.scss';

.SelectListWrap{
  width: 100%;
  height:100%;
  .tips{
    width: 100%;
    height:80px;
    line-height: 80px;
    padding:0px 32px;
    color:#ffab00;
    border-bottom:1px solid #f5f5f6;
    background:#fff;
  }
  .selectList{
    width: 100%;
    height:calc(100% - 180px);
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    .list{
      width: 100%;
      height:auto;
    }
    .listItem{
      width: 100%;
      // height:194px;
      padding:0 32px;
      background:#fff;
      margin-bottom:24px;
      border-bottom: 1px solid #f5f5f6;
      .item_t{
        width: 100%;
        height:134px;
        border-bottom:2px dashed #e5e5e5;
        div{
          width: 25%;
          height:100%;
          float: left;
          padding:20px 0;
          span{
            display:block;
            width: 100%;
            height:50%;
          }
          .addressSpan{
            font-size:28px;
            font-weight: 500;
            color:#666;
          }
          .timeSpan{
            font-size:36px;
            color:#333;
            font-weight: 900;
          }
          .priceSpan{
            font-size:32px;
            color:#ff4848;
            i{
              font-style: normal;
              font-size:24px;
              color:#666;
              margin-left:2px;
            }
            .ii{
              color:#ff4848;
              margin-right:6px;
            }
          }
        }
        .startTime{
          text-align: left;
          // background:pink;
        }
        .decTime{
          text-align: center;
          // background:blue;
          span{
            height:33%;
            font-size:24px;
            color:#666;
            img{
              width: 100%;
              height:60%;
              display: inline-block;
            }
          }
        }
        .endTime{
          text-align: right;
          // background:yellow;
        }
        .price{
          text-align: right;
          // background:red;
        }
      }
      .item_b{
        width: 100%;
        padding-bottom:20px;
        span{
          display:inline-block;
          // width: 20%;
          padding:20px 5% 0 0;
          font-size:20px;
          color:#666;
        }
        .am-icon{
          width: 42px;
          height:42px;
          float:right;
          margin-top:10px;
        }
        .item_bchild{
          display: inline-block;
          width: 85%;
        }
      }
    }
  }
  .Okbtn{
    width: 100%;
    height:99px;
    color:#fff;
    background:#ffab00;
    font-size:38px;
    text-align: center;
    line-height: 99px;
  }
  .nolist{
    width: 100%;
    height:calc(100% - 206px);
    // position: relative;
    img{
      width: 230px;
      // position:absolute;
      // top:30%;
      margin-top:32%;
      margin-left:calc(50% - 115px);
    }
    p{
      width: 100%;
      text-align: center;
      font-size:28px;
      color:#888;
      margin-top:20px;
    }
  }
}
