@import "./common.scss";

.order {
  position: relative;
  .map-node {
    width: 100%;
    height: 100%;
  }
  .order-status-info {
    position: absolute;
    top: 38px;
    margin-left: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background: $bg-ff;
    box-shadow:0 2px 13px 0 rgba(0,0,0,0.08);
    width: calc(100% - 60px);
    border-radius:8px;
    box-sizing: border-box;
    .driver-info {
      display: flex;
      height: 160px;
      align-items: center;
      border-bottom: 1px dashed #c9c9ca;
      .driver-img {
        @include s_blockDemo(100px, 100px);
        background:#d8d8d8;
        border-radius:100%;
        margin-right: 30px;
      }
      .driver-describe {
        flex: 1;
        &>div {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          span {
            @include s_fontDemo(30px, 30px, $font-33);
            margin-right: 25px;
          }
        }
        &>p {
          @include s_fontDemo(26px, 36px, $font-aa);
        }
      }
      a {
        .am-icon {
          @include s_blockDemo(57px, 57px);
        }
      }
    }
    // 状态描述公共样式
    .icon {
      @include s_blockDemo(24px, 24px);
      border-radius:100%;
      float: left;
      margin-top: 42px;
    }
    .status-title {
      @include s_fontDemo(28px, 108px, $font-45);
      float: left;
    }
    .status-describe {
      @include s_fontDemo(24px, 108px, $font-aa);
      float: left;
    }
    .status-button {
      @include s_fontDemo(26px, 108px, $font-f48);
      float: right;
    }
    &>div {
      overflow: hidden;
    }
    // 状态描述具体样式
    .is-wait {
      .icon {
        margin-right: 36px;
      }
      .status-title {
        margin-right: 33px;
        font-size: 32px;
      }
      .status-describe {
        font-size: 26px;
      }
    }
    .no-wait{
      .icon {
        margin-right: 20px;
      }
      .status-title {
        margin-right: 20px;
      }
    }
  }
}
