@import "../../common.scss";

.parameters {
  max-height: 80%;
  /* height: 500px;*/
  background: $bg-ff;
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 0;
  /* z-index: 10;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  .parameters-header {
    padding: 30px;
    position: relative;
    @include s_border_b;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      color: $font-cc;
    }
    .parameters-header-left {
      @include s_blockDemo(230px, 230px);
      padding: 3px;
      @include s_border;
      border-radius: 6px;
      margin-right: 25px;
      margin-top: -75px;
      background: $bg-ff;
      position: relative;
      overflow: hidden;
      span {
        height: 100%;
        height: 100%;
        display: block;
        background-size: auto 100% !important;
      }
    }
    .parameters-header-right {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      .inventory {
        @include s_fontDemo(28px, 50px, $font-33);
      }
      .parameters-text {
        @include s_fontDemo(28px, 35px, $font-33);
      }
    }
  }
  .parameters-middle-container {
    max-height: 600px;
    overflow-y: auto;
    position: relative;
    z-index: 10;
    .parameters-middle {
      .parameters-list-container {
        // overflow-y: auto;
        li {
          padding: 23px 10px 10px 30px;
          @include s_border_b;
          h1 {
            @include s_fontDemo(28px, 40px, $font-33);
            margin-bottom: 23px;
            font-weight: normal;
          }
          .parameters-list {
            overflow: hidden;
            p {
              @include s_fontDemo(24px, 56px, $font-33);
              float: left;
              padding-left: 20px;
              padding-right: 20px;
              margin-right: 20px;
              background:#f3f3f4;
              border-radius:4px;
              margin-bottom: 20px;
              &.disabled {
                background: #f3f3f4;
                color: $disable;
              }
              &.active {
                background: $theme;
                color: #fff;
              }
            }
          }
        }
      }
      .commodity-count {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        @include s_border_b;
        margin-bottom: 30px;
        p {
          &:nth-of-type(1) {
            @include s_fontDemo(28px, 120px, $font-33);
            padding-left: 30px;
          }
          &:nth-of-type(2) {
            padding-right: 30px;
            overflow: hidden;
            span {
              display: inline-block;
              margin-right: 1px;
              @include s_blockDemo(65px, 65px);
              @include s_fontDemo(28px, 65px, $font-ad);
              background: $bg-f3;
              text-align: center;
              &:nth-of-type(2) {
                color: $font-33
              }
            }
          }
        }
      }
    }
  }
  .parameters-footer {
    overflow: hidden;
    height: 100px;
    min-height: 100px;
    p {
      width: 50%;
      float: left;
      @include s_fontDemo(34px, 100px, $font-ff);
      text-align: center;
      &:nth-of-type(1) {
        background-color: $theme;
      }
      &:nth-of-type(2) {
        background-color: #ff6e19;
      }
    }
  }
}
