//主题色
$brand: #ff9a00;
//背景色
$white: #fff;
//warning
$red: #FF6666;
//link
$green: #FF9A00;
//用于标题
$black: #333;    //重要信息
//5级灰度
$gray-1: #666;
$gray-2: #888;
$gray-3: #999;
$gray-4: #d3d3d3;
$gray-5: #f2f2f2;
//分割线
$line: #e5e5e5;
//不可用
$disable: #ccc;
//根级背景色
$root-bg: #f5f5f6;
