.navBar{
  width: 100%;overflow-y: scroll;
  .am-tabs-ink-bar{background-color: rgb(255,154,0)}
  .am-tabs-bar .am-tabs-tab{color: rgb(136,136,136);line-height: 84px;font-size: 0.28rem;}
  .am-tabs-bar .am-tabs-tab-active{color: rgb(255,154,0);line-height: 84px;font-size: 0.28rem;}
  .am-tabs{height: 100%;}
}

.bottomBar{
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  border-top: 1px solid #eee;
  .sumPrice{
    display: inline-block;float: left;width: 63%;font-size: 0.34rem;color: #ff4848;box-sizing: border-box;
    line-height: 109px;
    padding-left: 32px;
    .active-popup-icon{
      display: inline-block;position: absolute;top: 33%;left: 55%;
      .active-popup-container{bottom: 50px;position: absolute;}
    }
    .active-popup-container {
      top: -113px;
    }
  }
  button{
    width: 37%;font-size: 0.34rem;text-align: center;line-height: 109px;float: right;
  }
  .saveOrder{
    background-color: #ff9a00;color: #fff;
  }
}
