.addrBumapMain{
  width:100%;
  height:100%;
}
.addrBumapWrap{
  .addrBumapMain{
    .pak{
      transform: scale(2, 2);
      transform-origin: center;
      .anchorBL{
        display:none !important;
      }
      .BMap_bubble_title{
        padding:15px 5px 12px 5px;
        font-weight: 600;
        text-align: center;
        .iw_poi_img{
          display:inline-block;
          background:url(../img/addressIcon.png) no-repeat;
          background-size: cover;
          border: 0;
          margin-right: 10px;
          position: relative;
        }
        .iw_poi_title {
          vertical-align: top;
          width: 70%;
          display: inline-block;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      .BMap_bubble_content{
        // width:500px;
        background:#fff;
        padding:5px 5px 12px 5px;
        .iw_poi_content {
          width: 100%;
          overflow: visible;
          padding-top: 4px;
          white-space: -moz-pre-wrap;
          word-wrap: break-word;
          color: #666;
          display:inline-block;
        }
        .iw_poi_warp{
           display:inline-block;
           float: right;
           margin-left:20px;
           margin-top:8px;
        }
        .iw_poi_copy{
          float: right;
          display:inline-block;
          font-size:24px;
          color:#ff9a00;
        }
      }
      .BMap_shadow{
        img{
          display:none;
        }
      }
      .BMap_pop{
        // transform: scale(.5);
        // transform-origin: center;
        // margin-top: 110px;
        // margin-left: 80px;
      }
    }
    // .my_pak1{
    //   .BMap_pop{
    //     transform: scale(.5);
    //     transform-origin: center;
    //     margin-top: 90px;
    //     margin-left: 80px;
    //   }
    // }
    // .my_pak2{
    //   .BMap_pop{
    //     transform: scale(.75);
    //     transform-origin: center;
    //     margin-top: 2px;
    //     margin-left: 2px;
    //   }
    // }
    // .my_pak3{
    //   .BMap_pop{
    //     transform: scale(.875);
    //     transform-origin: center;
    //   }
    // }
  }
}
