  .indexWrap{
    width: 100%;
    height:100%;
    .searchBar{
      background:#fff;
      div{
        background-color:#f3f3f4;
      }
      input{
      background-color:#f3f3f4;
      font-size:28px;
      color:#adadad;
      }
    }
    .am-popup-slide-down{
      top:180px;
    }
    .indexListWrap{
      width: 100%;
      height:calc( 100% - 100px );
      overflow: hidden;
      -webkit-overflow-scrolling:touch;
      .tabs{
        height:calc(100% - 98px);
      }
      .ListMain{
        width: 100%;
        height:100%;
        // padding-top:20px;
        -webkit-overflow-scrolling:touch;
        .list {
          background:#fff;
          -webkit-overflow-scrolling:touch;
          //  position:relative;
          //  z-index: 2;
        }
      }
    }
  }

// 地址定位部分
.indexWrap{
  //  background:#fff;
  .leftCom{
    display:inline-block;
    vertical-align: middle;
    .citylocation{
        width:100%;
        height:99px;
        // font-size:32px;
        font-size:28px;
        color:#333333;
        background:#fff;
        .cityNameshow{
          width: 70%;
          display:inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: middle;
        }
        .jiaoPic{
            width: 16px;
            height:10px;
            margin-left:6px;
        }
     }
  }
  .listItem{
      width: 100%;
      height:auto;
      // background:pink;
      padding:40px 32px 32px 32px;
      border-bottom:1px solid #e5e5e5;
      // background-color: #fff;
  }
  .itemPic{
      width: 28%;
      height:210px;
      float:left;
      overflow: hidden;
      background:url(../img/nousebg.png) no-repeat;
      background-size: cover;
      img{
          width: 100%;
          height:100%;
      }
  }
  .itemMain{
      width: 72%;
      height:auto;
      padding-left:32px;
      float:left;
      .oto{
          width:100%;
          height:auto;
          float:left;
          margin-bottom:16px;
          font-size:24px;
          color:#999;
          margin-top:5px;
          .otoS1{
              float:left;
              display:inline-block;
          }
          .otoS2{
              float:right;
              display:inline-block;
          }
          .otoS3{
              border:1px solid #e5e5e5;
              border-radius:4px;
          }
          img{
             width: 24px;
             height:24px;
          }
      }
      .itemTitle{
          .otoS1{
              font-size:28px;
              color:#111;
              width: 65%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow:ellipsis;
          }
          .otoS2{
              font-size:36px;
              color:#ff4848;
              letter-spacing:2px;
              i{
                  font-style:normal;
                  font-size:20px;
                  color:#999;
              }
          }
          .otoS4{
              color: #999;
              font-size:24px;
              i{
                  display:none;
              }
          }
      }
      .itemTime{
          .otoS2{
              text-decoration: line-through;
          }
          .otoS1{
              width: 60%;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
          }
      }
      .itemAddr{
        margin-bottom:0;
          .otoS1{
              margin-right: 20px;
              margin-top:6px;
          }
          .otoS2{
              float:left;
              padding:6px 20px;

              border-radius:4px;
          }
      }

  }
  .clear{
      clear: both;
  }
}





// 主题选择部分
.themeWrap{
    width: 100%;
    height:80px;
    border-bottom:1px solid #e5e5e5;
    border-top:1px solid #e5e5e5;
    background:#fff;
    .headeroto{
        width: 33%;
        height:auto;
        margin:22px 0;
        display:inline-block;
        font-size:28px;
        color:#333333;
        text-align: center;
        img{
           width: 22px;
           height:14px;
           margin-left:10px;
        }
        .animatePic_up{
            transform: rotate(180deg);
            transition: transform .4s;
        }
        .animatePic_down{
          transform: rotate(360deg);
          transition: transform .1s;
        }
    }
    .headrecheck{
        color:#ffab00;
    }
    .headercen{
        border-left:1px solid #e5e5e5;
        border-right:1px solid #e5e5e5;
    }
}
// 主题选择部分
.themeWrap{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    background: #fff;
    position: relative;
    span{
      width: 33%;
      height:auto;
      margin: 0.2rem 0;
      display:inline-block;
      font-size: 0.26rem;
      color: #333333;
      text-align: center;
      &:nth-child(2){
        border-left: .01rem solid #e5e5e5;
        border-right: .01rem solid #e5e5e5;
      }
      .am-icon-md{
        position: relative;
        width: 0.3rem;
        height: 0.3rem;
        top: 0.05rem;
        margin-left: 0.03rem;
        transition: transform .2s;
      }
    }
}
.tabs{
  flex: auto;
  -webkit-flex: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
}
// 没有景点对应时的展示
.noOneComponent{
     width: 100%;
     height:100%;
    //  background:pink;
    //  position:relative;
     z-index: 1;
     .noOneMain{
         width:320px;
         height:320px;
         position: absolute;
         top:46%;
         left:calc(50% - 160px);
        //  transform: translateX(50%);
         transform: translateY(-50%);
         img{
            width: 100%;
         }
         div{
             width: 100%;
             margin-top:10px;
             line-height:40px;
             font-size:28px;
             text-align: center;
             color:#999;
         }
     }
}

// 对搜索框的样式修改
.searchBar{
   overflow: hidden;
}
// 对引用的 组件里面的样式进行修改
.am-popup-slide-down{
    top:180px;
    max-height:5.4rem;
    transition: all 0s !important;
    .test{
        height:180px;
    }
}
.myselfam-popup-mask{
    top:180px;
    // transition: all 0s !important;
}
.indexListWrap{
    .am-list-item{
        padding-left:0;
        .am-list-line{
           padding-right:0;
        }
        .am-list-content{
           padding:0;
        }
    }
}
.test1Animation-appear-active {
  overflow: hidden;
  animation: test .5s ease forwards;
}
.test1Animation-leave-active {
  animation: test 0s backwards reverse;
  overflow: hidden;
}
@keyframes test {
 0% { top:180px;height:0px; }
 100%   { top:180px; height:5.4rem;}
}
.test2Animation-appear-active {
  overflow: hidden;
  animation: test2 .5s ease forwards;
}
.test2Animation-leave-active {
  animation: test2 0s backwards reverse;
  overflow: hidden;
}
@keyframes test2 {
 0% { top:180px;height:0px; }
 100%   { top:180px; height:3.6rem;}
}

// 对IOS的兼容处理---修改
.themeMaskCom{
  position:absolute;
  z-index: 10;
  width: 100%;
}
.starMaskCom{
  position:absolute;
  z-index: 10;
  width: 100%;
}
.defaultMaskCom{
  position:absolute;
  z-index: 10;
  width: 100%;
}
