// 对农行样式的特别处理
.am-popup-slide-down{
    top:310px !important;
    max-height:5.4rem;
    transition: all 0s !important;
    .test{
        height:180px;
    }
}
.myselfam-popup-mask{
    top:310px !important;
    // transition: all 0s !important;
}
