.indexWrap {
  .listItem {
    border-color: #f5f5f6 !important
  }
  .themeWrap{
    border-color: #f5f5f6 !important
  }
  .itemMain .oto .otoS3{
    border-color: #f5f5f6 !important
  }
}
.detailsWrap{
  .am-list-body .am-list-line:after{
    border-color: #f5f5f6 !important
  }
  .itemnoteWrap .serviceSpan{
    border-color: #f5f5f6 !important
  }
  .am-whitespace{
    background-color:#f5f5f6 !important
  }
}
.orderWrap{
  .am-list-body .am-list-line:after{
    border-color: #f5f5f6 !important
  }
  .line{
    background-color: #f5f5f6 !important
  }
  .am-whitespace{
    background-color:#f5f5f6 !important
  }
  .MessageWrap .noticText{
    // background-color:#f5f5f6 !important
  }
  .addtouristWrap .addpeople{
    border-color: #f5f5f6 !important
  }
  .am-list-body:after{
    border-color: #f5f5f6 !important
  }
  .am-accordion .am-accordion-item .am-accordion-header:after{
    border-color: #f5f5f6 !important
  }
  .s-promotion .am-list-body .s-order-price .am-list-line:after{
    border-color: #f5f5f6 !important
  }
  .orderFooter{
    border-color: #f5f5f6 !important
  }
  .am-list-item.am-input-item:after{
    border-color: #f5f5f6 !important
  }
  .am-list-body div:not(:last-child) .am-list-line:after{
    border-color: #f5f5f6 !important
  }
  .addtouristWrap .addnumbel .am-list-line{
    border-color: #f5f5f6 !important
  }
  .s-promotion .am-list-item.s-order-price{
    border-color: #f5f5f6 !important
  }
  .MessageWrap .date .dateoto{
    border-color: #f5f5f6 !important
  }
  .MessageWrap .date .orderOrg{
    border-color: #ffab00 !important
  }
  .orderMain{
    background-color:#f5f5f6 !important
  }
}
.addtouristWrap{
  .contact-list .ListItemWrap{
    border-color: #f5f5f6 !important
  }
  .contact-list .listItem .moreBtn{
    border-color: #f5f5f6 !important
  }
  .am-list-body .am-list-line:after{
    border-color: #f5f5f6 !important
  }
}
.tricekShow{
  .am-list-body .am-list-line:after{
    border-color: #f5f5f6 !important
  }
}
.searchWrap .searchBar input{
  font-size: .28rem  !important
}
// 对农行样式的特别处理
.am-popup-slide-down{
    top:270px !important;
    max-height:5.4rem;
    transition: all 0s !important;
    .test{
        height:180px;
    }
}
.myselfam-popup-mask{
    top:270px !important;
    // transition: all 0s !important;
}
