.picWrap{
    width: 100%;
    height:100%;
    overflow: hidden;
    .picShow{
        width: 100%;
        height:100%;
        padding:2%;
        overflow: hidden;
        overflow-y: scroll;
        .picitemDemo{
            width: 29%;
            height:216px;
            margin:14px 2.1%;
            float:left;
            img{
                width: 100%;
                height:100%;
            }
        }
    }
}

.content{
  .pic{
      width: 100%;
      height:50%;
      // background:red;
      position:absolute;
      top:50%;
      // transform: translateY(-60%);
      margin-top: -50%;
      z-index: 99;
  }
  .carouselWrap{
    width: 100%;
    .picitembig{
        width: 100%;
        height:100%;
        img{
            width: 100%;
            height:100%;
        }
    }
    .picIndex{
      width: 100%;
      text-align: center;
      font-size:28px;
      color:#fff;
      padding-top:5%;
    }
  }
}
