@import "./app.scss";

.condition-content-container{
  padding: 0 30px;box-sizing: border-box;width: 100%;
  .brands-container, .commericalLocations-container, .districts-container{
    width: 100%;background-color: #fff;margin-bottom: 40px;overflow-y: hidden;height: 270px;
    h3{
      display: inline-block;width: 90%;font-size: 26px;color: #888;height: 90px;line-height: 90px;text-indent: 33px;
      font-weight: normal;
    }
    .slideDown{
      height: 90px;float: right;width: 9%;background-image: url('../image/slidedown.png');
      background-repeat: no-repeat;background-position: center;background-size: 15px;
    }
    .slideUp{
      height: 90px;float: right;width: 9%;background-image: url('../image/slideup.png');
      background-repeat: no-repeat;background-position: center;background-size: 15px;
    }
    .brands-box, .commericalLocations-box, .districts-box{
      span{
        display: inline-block;width: 25%;box-sizing: border-box;font-size: 24px;height: 90px;line-height: 90px;
        text-align: center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;border: 1px solid #e1e1e2;
      }
    }
  }
}

.searchBar .cancel {font-size: 0.28rem;color: #ffab00;display: inline-block;width: 100%;text-align: center;}

.hotel-condition-container .dataList{
  position: absolute;top: 1rem;
}
