@import "./app.scss";

.detailPage-container{
  .image-box{
    width: 100%;height: 445px;position: relative;background-repeat: no-repeat;background-size: 100%;background-position: 50%;
    .mask-box{background-color: #404040;opacity: .7;height: 112px;position: absolute;bottom: 0;left: 0;width: 100%;}
    .info-box{
      width: 100%;height: 112px;box-sizing: border-box;
      color: #fff;position: absolute;bottom: 0;left: 0;padding: 0 30px;
      h2{font-size: 34px;font-weight: normal;margin-top: 15px;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-bottom: 15px;}
      span{font-size: 24px;vertical-align: middle;}
      i{width: 2px;height: 24px;background-color: #fff;margin: 0 20px;display: inline-block;vertical-align: middle;}
      span:last-child{position: absolute;bottom: 20px;right: 30px;}
    }
  }
  .hotel-info-container{
    .am-list-item .am-list-thumb{
      img{width: 32px;height: 38px;}
    }
    .am-list-item:nth-child(2) .am-list-thumb{
      img{width: 32px;height: 25px;}
    }
  }
  .detail-main-container{
    margin-top: 20px;
    .roomList-box{
      .room-box{
        padding: 0px 0px;box-sizing: border-box;width: 100%;background-color: #fff;border-bottom: 1px solid #e5e5e5;
        .room-main-box{
          padding: 25px 30px;box-sizing: border-box;width: 100%;
          .room-img-box{
            display: inline-block;margin-right: 25px;
            img{
              width: 136px;height: 136px;border-radius: 4px;
            }
          }
          .room-info-box{
            display: inline-block;height: 139px;vertical-align: top;width: 45%;overflow: hidden;
            h3{font-size: 32px;color: #111;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
            span{font-size: 24px;color: #808080;display: inline-block;margin-right: 25px;margin-top: 75px;}
          }
          .room-price-box{
            display: inline-block;height: 139px;vertical-align: top;width: calc(55% - 161px);text-align: center;line-height: 139px;
            span{font-size: 20px;color: #999;}
            span:nth-child(1){font-size: 20px;color: #ff4848;}
            span:nth-child(2){font-size: 36px;color: #ff4848;}
          }
          .show-all-rooms{
            background-image: url('../image/orangeDown.png');background-repeat: no-repeat;background-size: 36px;background-position: right center;
          }
          .hide-all-rooms{
            background-image: url('../image/orangeUp.png');background-repeat: no-repeat;background-size: 36px;background-position: right center;
          }
        }
        .ratePlans-list-box{
          .ratePlans-box{
            width: 100%;height: 150px;background-color: #f4f4f5;border-bottom: 1px solid #e5e5e5;padding: 10px 30px;box-sizing: border-box;
            .ratePlans-info-box{
              width: 60%;display: inline-block;
              .ratePlans-info-box-line-one{
                span{font-size: 28px;}
                span:nth-child(1){font-size: 28px;width: 65%;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
                img{width: 17px;height: 20px;margin-left: 45px;}
                .is-agent{
                  color: #5898e1;border: 1px solid #5898e1;display: inline-block;padding: 1px 2px;float: right;
                  font-size: 24px;
                }
              }
              .ratePlans-info-box-line-two{
                margin-top: 15px;
                span{font-size: 24px;color: #666;}
                i{display: inline-block;width: 2px;height: 20px;background-color: #666;margin: 0 15px;vertical-align: middle;}
              }
              .ratePlans-info-box-line-three{
                margin-top: 30px;
                span{font-size: 24px;color: #999;}
                span:nth-child(2){color: #ffab00;margin-left: 20px;}
              }
            }
            .ratePlans-price-box{
              display: inline-block;width: 20%;text-align: center;height: 131px;line-height: 131px;vertical-align: top;
              span{font-size: 20px;color: #ff4848;}
              span:nth-child(2){font-size: 36px;}
            }
            .ratePlans-btn-box{
              display: inline-block;width: 20%;height: 100px;vertical-align: top;border: 1px solid #ffab00;box-sizing: border-box;
              border-radius: 8px;margin-top: 17px;
              span:nth-child(1){
                display: block;text-align: center;height: 60px;line-height: 60px;background-color: #ffab00;font-size: 26px;
                color: #fff;border-radius: 8px 8px 0 0;
              }
              span:nth-child(2){
                display: block;text-align: center;height: 40px;line-height: 40px;color: #ffab00;font-size: 22px;
              }
            }
          }
        }
      }
    }
    .noRoom-container{
      display: inline-block;width: 100%;height: 550px;position: relative;
      .noRoom-main{
        position: absolute;text-align: center;width: 100%;top: 80px;
        img{width: 250px;height: 250px;display: inline-block;}
        p{font-size: 28px;color: #666;margin-top: 15px;}
      }
    }
  }
}
