@import './app.scss';

.imgList-container{
  img{
    width: calc(100% / 3);height: 180px;box-sizing: border-box;padding: 15px 7px 0px 7px;
  }
}

// .pic-layer-container{
//   img{
//     position: absolute;top: 50%;left: 0;width: 100%;height: 500px;
//   }
// }

.am-tabs-bar .am-tabs-tab-active{
  color: #ffab00;
}
.am-tabs-ink-bar{
  background-color: #ffab00;
}



.pic-layer-container{
  position: absolute;z-index: 20;width: 100%;margin-top: -250px;top: 50%;
  ul{height: 500px !important;}
  .hotel-img-box{
    width: 100%;
    img{width: 100%;position: absolute;z-index: 50;}
  }
}
.mask-container .mask.fade-in{
  opacity: .8 !important;
}

.ImgList-nodata-box{
  .noRoom-container{
    display: inline-block;width: 100%;height: 100%;position: relative;
    .noRoom-main{
      position: absolute;text-align: center;width: 100%;top: 50%;margin-top: -180px;
      img{width: 250px;height: 250px;display: inline-block;}
      p{font-size: 28px;color: #666;margin-top: 15px;}
    }
  }
}

.ImgList-nodata-box .noRoom-container .noRoom-main{
  position: fixed;
}
