@import "./app.scss";

.hotel-index-container{
  // margin-top: 30px;
  .infor-container{
    background-color: #fff;display: inline-block;width: 100%;
    .destination-container{
      width: 100%;height: 99px;box-sizing: border-box;padding: 0 30px;line-height: 99px;border-bottom: 1px solid #e1e1e2;
      span{font-size: 24px;color: #aaa;display: inline-block;width: 15%;vertical-align: top;}
      p{font-size: 28px;display: inline-block;width: 60%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
      .my-position{
        font-size: 26px;color: #ffab00;float: right;width: 25%;text-align: right;background-position: 10% center;
        background-image: url('../image/loc.png');background-repeat: no-repeat;background-size: 32px;
      }
    }

    .keyWords-search, .price-filter{
      border-bottom: 1px solid #e1e1e2;
      .am-list-line .am-list-content{font-size: 32px;color: #939393;}
      .am-list-line .am-list-extra{display: none}
    }
  }
  .btn-container{
    display: inline-block;width: 100%;text-align: center;
    button{
      background-color: #ffab00;color: #fff;display: inline-block;width: 85%;height: 100px;font-size: 36px;
      border-radius: 4px;margin: 40px 0;
    }
  }
}

.special-color{
  .am-list-content{color: #000 !important;}
}
