@import './app.scss';

.RatePlansLayer-container{
  width: 92%;height: 85%;background-color: #fff;position: fixed;top: 7.5%;left: 4%;z-index: 100;box-sizing: border-box;
  border-radius: 8px;
  .img-container{
    width: 100%;height: 34.4%;border-radius: 8px 8px 0 0;overflow: hidden;
    ul{
      height: 100% !important;border-radius: 8px 8px 0 0;
      .RatePlansLayer-img-box{
        border-radius: 8px 8px 0 0;
        img{
          width: 100%;height: 390px;border-radius: 8px 8px 0 0;
        }
      }
    }
  }
  .layer-title-container{
    position: absolute;top: 0;left: 0;z-index: 10;width: 100%;height: 100px;
    h3{
      font-size: 36px;text-indent: 30px;color: #fff;position: absolute;z-index: 10;font-weight: normal;display: inline-block;width: 80%;height: 100px;line-height: 100px;
      overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
    }
    span{display: inline-block;width: 100%;height: 100px;background-color: #404040;opacity: 0.44;border-radius: 8px 8px 0 0;}
    .layer-title-close{
      display: inline-block;width: 20%;height: 100px;background-image: url('../image/close.png');background-repeat: no-repeat;
      background-size: 48px;background-position: 60% center;position: absolute;z-index: 10;right: 0;top: 0;
    }
  }
  .main-container{
    height: 55%;overflow-y: scroll;
    .main-info-container{
      padding: 20px 24px;border-bottom: 1px solid #e3e3e4;height: 250px;box-sizing: border-box;
      p{
        margin-top: 15px;
        span{font-size: 24px;}
        span:nth-child(1){color: #888;}
      }
      span{
        font-size: 28px;color: #333;padding-right: 20px;margin-right: 20px;
      }
      span:last-child{padding-right: 0px;border-right: 0px ;margin-right: 0px;}
    }
    .facilities-container{
      padding: 30px 26px;box-sizing: border-box;
      .facilities-box{
        margin-bottom: 25px;
        .group-box{color: #888;font-size: 26px;width: 25%;vertical-align: top;display: inline-block;overflow-x: hidden;}
        p{
          display: inline-block;width: 75%;
          span{color: #303030;font-size: 26px;}
        }
      }
      .showFacility{
        font-size:26px;color:#52abf7;text-align: center;padding: 20px 0;box-sizing: border-box;
      }
    }
    .notice{
      box-sizing: border-box;width: 100%;padding: 20px 30px;
      h3{font-size: 32px;color: #111;}
      .cancelPolicyDesc-box, .paymentType-box{
        margin-top: 15px;
        span{font-size: 24px;display: inline-block;}
        span:nth-child(1){color: #888;width: 25%;vertical-align: top;}
        span:nth-child(2){width: 75%;}
      }
    }
  }
  .btn-container{
    width: 100%;height: 10.6%;background-color: #f3f3f4;border-radius: 0 0 8px 8px;line-height: 120px;
    .price-box{
      display: inline-block;width: 64%;height: 100%;line-height: 110px;padding-left: 30px;
      span{color: #ff4848;}
      span:nth-child(1){font-size: 28px;}
      span:nth-child(2){font-size: 34px;}
    }
    button{
      width: 180px;height: 55%;background-color: #ffab00;color: #fff;border-radius: 8px;text-align: center;font-size: 32px;
      margin-top: 25px;float: right;margin-right: 30px;
    }
  }
}
