.orderDetail-container{
  background-color: #f4f4f5;width: 100%;height: 100%;overflow-y: scroll;
  .order-status{
    img{width: 41px;height: 40px;}
  }
  .btn-container{
    width: 100%;height: 120px;border-top: 1px solid #e5e5e5;box-sizing: border-box;background-color: #fff;
    position: absolute;bottom: 0;left: 0;padding: 20px 0;font-size: 34px;color: #999;text-align: center;
    span, a{
      display: inline-block;height: 80px;line-height: 80px;border: 1px solid #999;border-radius: 4px;
      color: #999;
    }
  }
}
.timeline-container{
  background-color: #fff;height: 100%;
  .timeline-box{
    width: 100%;height: 150px;
    span{
      display: inline-block;width: 50%;line-height: 150px;text-align: center;
    }
    .timeline-point{
      width: 10%;height: 100%;text-align: center;line-height: 150px;display: inline-block;vertical-align: top;
      span{
        width: 20px;background-color: #e7e7e7;height: 20px;border-radius: 100%;position: relative;top: 50%;margin-top: -10px;right: -50%;
        z-index: 5;
      }
    }
    span:nth-child(2){
      font-size: 32px;width: 40%;
    }
    span:nth-child(3){
      color: #999;font-size: 26px;
    }
  }
  .timeline-now{
    span:nth-child(2){
      color: #ffab00;
    }
  }
}
.timeline-line{
  width: 1px;height: 100%;display: inline-block;background-color: #d8d8d8;position: absolute;left: 21.7%;top: 0;
}


.DefaultContent-container{
  overflow-y: scroll;height: calc(100% - 120px);
  .DefaultContent-header-container{
    .colorful-container{
      img{
        width: 40px;height: 40px;vertical-align: middle;margin-right: 20px;
      }
      height: 140px;color: #fff;font-size: 32px;line-height: 140px;padding: 0 30px;
      background:#ffab00;background-image:linear-gradient(90deg, rgba(254,87,35,0.35) 2%, rgba(252,32,0,0.80) 100%);
    }
    .contact-container, .express-container{
      height: 143px;background-color: #fff;
      padding: 0 30px;background-position: 30px center;border-bottom: 1px solid #e5e5e5;
        img{
          width: 40px;height: 40px;margin-right: 20px;vertical-align: middle;float: left;margin-top: 45px;
        }
      .contact-info-box, .express-box{
        display: inline-block;width: 85%;height: 100%;
        p:nth-child(1){
          vertical-align: bottom;font-size: 28px;height: 50%;display: inline-block;
          span{
            height: 100%;display: inline-block;line-height: 90px;
          }
          span:nth-child(2){
            margin: 0 15px;
          }
        }
        p:nth-child(2){
          vertical-align: bottom;font-size: 24px;color: #999;line-height: 40px;height: 50%;
        }
      }
    }
    .express-container{
      img{width: 40px}
      .express-box{
        p:nth-child(1){
          padding-top: 20px;height: 60%;
        }
        p:nth-child(2){
          height: 40%;
        }
      }
    }
  }
  .order-info-container{
    background-color: #fff;margin-top: 20px;
    .commodity-list-container{
      .commodity-list-box{
        background-color: #f8f8f8;padding: 20px 30px;margin-top: 10px;
        .commodity-img-box{
          display: inline-block;
          img{
            width: 150px;height: 150px;border-radius: 8px;
          }
        }
        .commodity-info-container{
          display: inline-block;margin-left: 20px;width: calc(100% - 170px);vertical-align: top;
          .commodity-info-box{
            width: 80%;display: inline-block;
            .commodityName{
              font-size: 28px;color: #333;
            }
            .specificationName{
              font-size: 24px;color: #adadad;margin-top: 15px;
            }
          }
          .commodity-price-box{
            display: inline-block;width: 20%;vertical-align: top;
            span{display: block;text-align: right;font-size: 28px;}
            span:nth-child(2){
              font-size: 24px;color: #adadad;margin-top: 10px;
            }
          }
        }
        .refund-container{
          text-align: right;
          .refund-box{
            padding: 0px 20px;height: 50px;background-color: #fff;line-height: 50px;text-align: center;color: #999;
            font-size: 24px;display: inline-block;
          }
        }
      }
      .commodity-sum-price-container{
        background-color: #fff;padding: 0 30px;
        p{
          padding: 15px 0;
          span{font-size: 24px;color: #adadad;}
          span:nth-child(2){float: right;}
        }
        p:nth-child(3){
          padding: 15px 0;
          span{font-size: 24px;color: #333;}
          span:nth-child(1){font-size: 28px;}
          span:nth-child(2){float: right;}
        }
        p:nth-child(4){
          padding: 30px 0;border-top: 1px solid #e5e5e5;
          span{font-size: 32px;color: #333;}
          span:nth-child(1){font-size: 28px;}
          span:nth-child(2){float: right;color: #ff4848;}
        }
      }
    }
    .am-list-line {
      border-bottom: none;
    }
  }
  .basis-info-container{
    padding: 20px 30px;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 50px;
    p{
      font-size: 24px;
      color: #adadad;
      height: 50px;
      line-height: 50px;
    }
  }
}
