@import 'common.scss';

.attributeWrap{
  position:absolute;
  width: 70%;
  background:#fff;
  // height:400px;
  max-height: 700px;
  left:15%;
  top:50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  border-radius: 10px;
  z-index: 10;
  .title{
    width: 100%;
    padding:0 10%;
    height:100px;
    position:relative;
    span{
      width: 100%;
      display:inline-block;
      line-height:100px;
      text-align: center;
      font-size:32px;
      color:#333;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .close{
      position:absolute;
      top:15px;
      right:15px;
    }
  }
  .attribute{
    width: 100%;
    // height:calc(100% - 214px);
    overflow-x: hidden;
    overflow-y: scroll;
    max-height:300px;
    padding:0 32px;
    background:#fff;
    min-height:200px;
    .item{
      width: 100%;
      height:auto;
      p{
        width: 100%;
        height:40px;
        font-size:28px;
        color:#999;
        margin:10px 0 24px;
      }
      span{
        font-size:24px;
        color:#666;
        padding:15px 30px;
        display:inline-block;
        border-radius:34px;
        border:1px solid #ccc;
        margin:0 20px 18px 0;
      }
      .markSpan{
        color:#ffab00;
        background:rgba(255,171,0,0.05);
        border-color:#ffab00;
      }
    }
  }
  .sumChange{
    width: 100%;
    padding:0 32px;
    .sumText{
      width: 60%;
      height:80px;
      line-height:80px;
      display:inline-block;
      font-size:28px;
      color:#999;
    }
    .num{
      width: 40%;
      display:inline-block;
      height:80px;
      float:right;
      @include displayfec;
      .Sum{
        margin:0 10px;
      }
    }
  }
  .addcart{
    height:114px;
    width: 100%;
    background:#f8f8f8;
    padding:0 32px;
    font-size:20px;
    color:#ff4848;
    line-height:114px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    .addcart_price{
      font-size:36px;
      font-weight: 700;
    }
    .addcart_btn{
      height:80px;
      background:#ffab00;
      color:#fff;
      font-size:38px;
      float:right;
      width: 240px;
      margin-top:17px;
      line-height:80px;
      text-align: center;
      border-radius: 8px;
    }
  }
}
