@import 'common.scss';

.indexWrap{
  width: 100%;
  height:100%;
  background:#f5f5f6;
  overflow: hidden;
  .indexLocation{
    width: 100%;
    height:90px;
    font-size:32px;
    color:#333;
    line-height:90px;
    text-align: center;
    position: relative;
    z-index: 10;
    background: #f5f5f6;
    @include displayfcc;
    .location_c{
      display:inline-block;
      margin-right:10px;
      max-width: 60%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .am-icon-md{
      width: 30px;
      height:30px;
      display:inline-block;
    }
  }
  .indexBanner{
    width: 100%;
    height:211px;
    background-image :url(../img/bg.png);
    background-size: cover;
    padding:32px;
    .banner_l{
      width: 28%;
      height:100%;
      float:left;
      img{
        width: 126px;
        height:126px;
      }
    }
    .banner_r{
      width: 70%;
      height:100%;
      float:left;
      color:#fff;
      font-size:20px;
      .banner_title{
        font-size:28px;
        font-weight: 700;
        padding:10px 0 18px;
      }
      .banner_yu{
        padding-bottom:10px;
      }
      .oto{
        width: 100%;
        white-space: nowrap;
        text-overflow:ellipsis;
        overflow: hidden;
      }
    }
  }
  .mainWrap{
    width: 100%;
    height: calc(100% - 190px);
    // overflow-x: hidden;
    // overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    position: relative;
    z-index: 1;
  }
  .indexMainWrap{
    width: 100%;
    height:calc(100% - 210px);
    position: absolute;
    // top: 211px;
    // height:100%;
    transform: translateY(0);
    overflow: hidden;
    background:#fff;
    .mainTitle{
      width: 24%;
      height:100%;
      // overflow:scroll; // better-scroll
      overflow: hidden;
      background: #f5f5f6;
      float:left;
      -webkit-overflow-scrolling:touch;
      .tagsitem{
        width: 100%;
        border-bottom:1px solid #e5e5e5;
        padding:28px 10% 28px 20%;
        font-size:28px;
      }
      .tagsmark{
        background:#fff;
        border-left:10px solid #ffab00;
      }
    }
    .mainList{
      width: 76%;
      height:100%;
      overflow: hidden;
      overflow-y: scroll; // better-scroll
      background: #fff;
      float:left;
      // -webkit-overflow-scrolling:touch;
      .title{
        width: 100%;
        padding:10px 32px;
        background:#f5f5f6;
        font-size: 28px;
        color:#666;
      }
      .item{
        // padding:32px 32px 0;
        padding:32px 0 0 32px;
        // width: 100%; // 此处是为了改魅族的兼容性
        .item_pic{
          width: 30%;
          // background:pink;
          float: left;
          img{
            width: 114px;
            height:114px;
            border-radius: 4px;
            background:url(../img/xingbake_bg.png) no-repeat;
            background-size: cover;
          }
        }
        .item_main{
          width: 70%;
          padding-right:32px;
          height:auto;
          float: left;
        }
        .name{
          font-size:28px;
          color: #333;
          font-weight: 700;
          .name_l{
            display:inline-block;
            width: 70%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            // float: left;
            margin-bottom:18px;
          }
          .name_r{
            width: 25%;
            display:inline-block;
            font-size:20px;
            color:#ffab00;
            border-radius: 4px;
            border:1px solid #ffab00;
            float: right;
            text-align: center;
            margin-top:2px;
            padding:3px 0;

          }
        }
        .Introduced{
          width: 100%;
          height:auto;
          overflow : hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          font-size:24px;
          color:#666;
          max-height: 60px;
          line-height:30px;
        }
        .price{
          margin-top:12px;
          .price_span{
            display:inline-block;
            width: 6%;
            font-size: 24px;
            color:#ff4848;
          }
          .price_l{
            margin-top:10px;
          }
          .price_c{
            font-size:32px;
            font-weight: 700;
            width: 40%;
          }
          .price_r{
            width: 50%;
            float:right;
            @include displayfec;
            .carthano{
              display:none;
            }
            .carthas{
              @include displayfec;
              width: 60%;
              .Sum{
                // width: calc(100% - 40px);
                padding:0 20px;
                // text-align: center;
                color:#666;
                font-size:28px;
              }
              .icon{
                width: 40px;
                height:40px;
                .am-icon-md{
                  width: 40px;
                  height:40px;
                }
              }
            }
          }
        }
        .line{
          clear: both;
          border-bottom:1px solid #e5e5e5;
          width: 100%;
          padding-top:32px;
          padding-right:0;
        }
      }
    }
  }
  .footerCart{
    width: 100%;
    height:98px;
    border-top:1px solid #e5e5e5;
    background:#fff;
  }
}

// 选择收货地址部分
.ChooseContact{
  width: 70%;
  height:auto;
  background:#fff;
  position:absolute;
  z-index: 10;
  top:50%;
  margin-left:15%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  border-radius: 10px;
  .title{
    width: 100%;
    padding:32px 15%;
    text-align: center;
    font-size:32px;
    color:#333;
    position:relative;
    .close{
      position:absolute;
      top:20px;
      right:20px;
    }
  }
  .contactList{
    width: 100%;
    padding:0 32px;
    height:280px;
    overflow: hidden;
    overflow-y: scroll;
    .item{
      color:#ffab00;
      font-size:32px;
      height:90px;
      line-height: 90px;
      text-align: center;
      border-bottom: 1px solid #e5e5e5;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .no_contact{
      width: 100%;
      height:230px;
      background:#fff;
      overflow: hidden;
      img{
        width: 45%;
        height:70%;
        margin-left:28%;
        margin-top:5%;
      }
    }
    .otherTip{
      text-align: center;
      width: 100%;
      color:#888;
      font-size: 28px;
    }
  }
  .other{
    width: 100%;
    height:90px;
    color:#999;
    font-size:32px;
    line-height:90px;
    text-align: center;
    border-top:1px solid #e5e5e5;
  }
  .otherOrg{
    color:#ffab00;
  }
}

// 当无可用商家的时候
.outRangeWrap{
  width: 100%;
  height: 100%;
  .indexLocation{
    width: 100%;
    height:90px;
    font-size:32px;
    color:#333;
    line-height:90px;
    text-align: center;
    position: relative;
    z-index: 10;
    background: #fff;
    @include displayfcc;
    .location_c{
      display:inline-block;
      margin-right:10px;
      max-width: 60%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .am-icon-md{
      width: 30px;
      height:30px;
      display:inline-block;
    }
  }
  .outRange{
    width: 100%;
    height:calc(100% - 90px);
    img{
      width: 300px;
      margin-top:40%;
      margin-left: calc(50% - 150px);
    }
    p{
      width: 100%;
      text-align: center;
      font-size:28px;
      color:#888;
      margin-top:40px;
    }
  }
}
