@import 'common.scss';

.orderWrap{
  .orderMain{
    width: 100%;
    height:calc(100% - 100px);
    overflow-x: hidden;
    overflow-y: scroll;
    .orderTime{
      .timeIcon{
        .am-icon{
          float:left;
          margin-right:15px;
        }
        .am-list-line .am-list-extra{
          width: 60%;
          flex-basis:61%;
          -webkit-flex-basis:61%;
        }
      }
    }
    .am-list-body{
      .oto_item{
        .am-list-line:after{
          border:none;
        }
        .am-list-extra{
          -webkit-flex-basis: 36%;
          width: 36%;
          .goodsshow{
            text-align: left;
            .goodsSpan{
              float:right;
            }
          }
        }
      }
    }
    .tipsWrap{
      .tipsPrice{
        margin-left:15px;
      }
      .iconWrapper {
        position: relative;
        padding: 0 0.62rem;
        .am-slider-wrapper{
          padding:0 20px;
          }
          .am-slider{
            margin:4px 0;
            .am-slider-handle{
              width: 46px;
              height:46px;
              margin-top:-0.18rem;
              border:8px solid #fbc447;
              background:#ffab00;
            }
            .am-slider-rail{
              height:8px;
              background:#f3f3f4;
            }
            .am-slider-track{
              background-color:#ffab00;
              height:8px;
            }
          }
        }
        .iconWrapper .am-icon {
          position: absolute;
          top: -0.19rem;
          width: 0.44rem;
          height: 0.44rem;
          line-height: 1;
          font-size: 0.44rem;
          color: #000;
          right:0;
        }
        .am-list-item .am-list-line .am-list-content{
          -webkit-box-flex: 0.5;
          flex:0.5;
        }
        .am-list-item .am-list-line .am-list-extra{
          -webkit-box-flex: 1.6;
          flex:1.6;
          height:50px;
        }
      }
    }
    .noteText{
      .am-list-line .am-list-extra{
          width: 36%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }
    }
    .footerPrice{
      background:#fff;
      width: 100%;
      height:99px;
      border-top:1px solid #f5f5f6;
        div{
          height:100%;
          float:left;
          line-height:99px;
          overflow: hidden;
        }
      .footerL{
        width: 60%;
        padding-left: 32px;
        color:#ff4848;
        font-size:28px;
        .price{
          font-size:38px;
          font-weight: 600;
        }
        .downprice{
          color:#999;
          font-size:24px;
          margin-left:15px;
        }
      }
      .footerR{
        width: 40%;
        background:#ffab00;
        color:#fff;
        text-align: center;
        font-size:38px;
      }
    }
}
// 备注页面的样式
.notes{
  width: 100%;
  height:auto;
  .noteHeader .am-list-line .am-list-content{
    text-align: center;
    font-size:32px  !important;
  }
  .title{
    font-size:28px;
    color:#333;
  }
  .note{
    width: 100%;
    padding:0 32px 32px;
    background:#fff;
    textarea{
      width: 100%;
      height:200px;
      background:#f8f8f8;
      border-radius: 8px;
      padding:20px;
      border:1px solid #e5e5e5;
      font-size:24px;
      color:#adadad;
      resize:none;
    }
  }
  .saveBtn{
    width: 90%;
    height:90px;
    background:#ffab00;
    color:#fff;
    font-size:38px;
    text-align: center;
    line-height:90px;
    position:absolute;
    left:5%;
    border-radius: 6px;
  }
}
// 修改antd组件里面的东西
.rc-slider-tooltip-inner{
  height:48px;
}
.am-picker-popup-header-left{color: #999 !important;}
.am-picker-popup-title{color: #333 !important;}
.am-picker-popup-item{color: #ffab00;}
.am-list-item .am-list-line .am-list-content{font-size: 28px;}
.am-list-item .am-list-line .am-list-extra{font-size: 28px;}
.contact-list .listItem .iconBtn_l{display: none;}
