*{margin: 0;padding: 0;}
.air{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f5f5f6;
  position: relative;
  .airdate{
    width: 100%;
    height: 100%;
    padding: 0 0.3rem;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    font-size: 0.28rem;
    .now_date{
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      padding: 0.1rem;
      border-radius: 0.05rem;
      color: #ffffff;
      background:#ffab00;
    }
    .pre_date, .next_date{
      color: #333333;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      p{
        min-width: 1rem;
      }
    }
    .next_date p{
      text-align: right;
    }
  }
  .selectAir{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    background-color: rgba(79, 83, 91, 0.9);
    height: 1rem;
    transition: all 0.3s ease 0s;
    p{
      flex: 1;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      flex-direction: column;
      -webkit-flex-direction: column;
      color: #ffffff;
      font-size: 0.24rem;
      line-height: 1.5;
    }
  }
  .airtop{
    background:#ffffff;
    width: 100%;
    height: 1.3rem;
  }
  .airlistWarp{
    width: 100%;
    height: calc( 100% - 1.3rem );
    position: relative;
    .airlistw{
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      height: 100%;
      padding-bottom: 1rem;
    }
  }
  .airlist{
    margin: 0.2rem 0.3rem;
    background: #ffffff;
    border-radius: 0.1rem;
    padding: 0.3rem 0.3rem 0.2rem;
    box-shadow: 0 0 20px 8px #ededed;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    .airinfo{
      display: inline-block;
      width: calc( 100% - 1.8rem );
      max-width: 4.3rem;
      h3{
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        span{
          display: inline-block;
          font-size: 0.4rem;
          &:nth-child(2){
            color:#ffab00;
            font-size: 0.24rem;
            text-align: center;
            flex:auto;
            height: 0.55rem;
            line-height: .55rem;
            max-width: 1.9rem;
            padding: 0 0.1rem;
            background-image: url(../img/point.png);
            background-size: calc( 100% - 0.2rem) 0.1rem;
            background-repeat: no-repeat;
            background-position: 50%;
          }
        }
      }
      p{
        font-size: 0.2rem;
        color: #999999;
        margin: 0.1rem 0;
        &:nth-child(2){
          span{
            display: inline-block;
            width: 50%;
            &:first-child{
              text-align: left;
            }
            &:last-child{
              text-align: right;
            }
          }
        }
      }
    }
    .price{
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      flex: auto;
      font-size: 0.5rem;
      display: inline-block;
      color:#ff4848;
      p{
        text-align: right;
      }
      .changepri{
        font-size: 0.2rem;
        color:#999999;
      }
    }
  }
}
.slide-page-container.info{
  background: rgba(0, 0, 0, 0.5);
}
.filterWrap{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  h3{
    background: #ffab00;
    height: 0.88rem;
    font-size: 0.28rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding: 0 0.3rem;
    color: #ffffff;
    span{
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
    }
    .am-icon-md{
      width: 0.28rem;
      height: 0.28rem;
      margin-right: 0.1rem;
    }
  }
  .chooseWarp{
    padding: 0 0.3rem 0.15rem;
    background: #ffffff;
    box-sizing: border-box;
    max-height: 8rem;
    overflow: auto;
    h4{
      font-size: 0.24rem;
      color: #999999;
      box-sizing: border-box;
      border-top: 1px solid #e5e5e5;
      padding: 0.15rem 0;
      margin-top: 0.15rem;
      width: 100%;
      &:first-child{
        border: none;
        margin-top: 0.05rem;
        padding: 0.3rem 0 0.15rem;
        margin-top: 0;
      }
    }
    p{
      display: inline-block;
      width: 50%;
      font-size: 0.28rem;
      color:#333333;
      margin: 0.15rem 0;
      span{
        display: inline-block;
        box-sizing: border-box;
        width: 0.3rem;
        height: 0.3rem;
        float: left;
        border: 1px solid #aaaaaa;
        border-radius: 0.05rem;
        margin-right: 0.3rem;
        position: relative;
        top: 0.05rem;
      }
      .am-icon-md{
        width: 0.3rem;
        height: 0.3rem;
      }
    }
    .choose{
      color: #ffab00;
      span{
        background: #ffab00;
        border: none;
      }
    }
  }
}

.empShop{
  width: 100%;
  height: 100%;
  position: relative;
  >div{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform:translateX(-50%) translateY(-50%);
    text-align: center;
    img{
      width: 2.5rem;
      height: 2.5rem;
    }
    p{
      margin-top: 0.2rem;
      font-size: 0.28rem;
      line-height: 1.5;
      color:#999999;
    }
  }
}
.am-modal-button-group-v .am-modal-button{
  color: #ffab00;
}
