*{margin: 0;padding: 0}
.detail{
  width: 100%;
  height: 100%;
  background: #f5f5f6;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  .detailCart{
    background: #ffffff;
    width: 100%;
    padding: 0.3rem;
    box-sizing: border-box;
    .cart_main{
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: space-around;
      -webkit-justify-content: space-around;
      >div{
        display: inline-block;
        h3{
          font-size: 0.5rem;
          margin: 0.1rem 0;
        }
        p{
          font-size: 0.24rem;
          color: #666666;
          text-align: center;
        }
      }
      .cart_mainmid{
        p{
          &:nth-child(2){
            color:#ffab00;
            min-height: 0.2rem;
            min-width: 1.8rem;
            background-image: url(../img/point.png);
            background-size: calc( 100% - 0.2rem) 0.1rem;
            background-repeat: no-repeat;
            background-position: 50%;
          }
        }
      }
    }
    >p{
      font-size: 0.2rem;
      color: #999999;
      padding: 0.3rem 0.3rem 0;
    }
  }
  .carbinlistWrap{
    padding: 0 0.3rem;
    width: 100%;
    box-sizing: border-box;
  }
  .carbin_list{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding: 0.3rem;
    background: #ffffff;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.12), 0 0 6px 0 rgba(0,0,0,0.04);
    border-radius: 0.08rem;
    margin: 0.3rem 0;
    .am-icon-md{
      width: 0.2rem;
      height: 0.2rem;
      margin-left: 0.05rem;
    }
    h3{
      font-size: 0.4rem;
      color: #ff4848;
    }
    p{
      font-size: 0.2rem;
      color: #999999;
      display: flex;
      display: -webkit-flex;
      margin-top: 0.1rem;
    }
    >div{
      display: inline-block;
    }
    .btn{
      background: #ff4848;
      border-radius: 0.04rem;
      width: 1.1rem;
      height: 0.5rem;
      line-height: 0.5rem;
      text-align: center;
      color: #ffffff;
      font-size: 0.24rem;
    }
  }
}
.Tuigaiqian{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0.4rem;
  box-sizing: border-box;
  background: #ffffff;
  >p{
    font-size: 0.2rem;
    color: #999999;
    line-height: 1.5;
    margin: 0.2rem 0;
  }
  h1{
    font-size: 0.32rem;
    color: #222222;
    text-align: center;
  }
  h2{
    font-size: 0.28rem;
    color: #111111;
    border-bottom:1px solid #e5e5e5;
    margin: 0.3rem 0 0;
    padding:  0 0 0.3rem;
  }
  .tuigaili{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    border-bottom:1px solid #e5e5e5;
    >div{
      font-size: 0.24rem;
      color: #999999;
      span{
        display: inline-block;
        white-space: nowrap;
      }
      &:first-child{
        width: 1.8rem;
      }
      &:last-child{
        flex: 1;
        p{
          display: flex;
          display: -webkit-flex;
          align-items: center;
          -webkit-align-items: center;
          justify-content: space-between;
          -webkit-justify-content: space-between;
          margin: 0.3rem 0;
        }
      }
    }
  }
  .closebtn{
    p{
      text-align: center;
      margin: 1rem 0;
    }
    .am-icon{
      width: 0.8rem;
      height: 0.8rem;
    }
  }
}
.slide-page-container.info{
  background: #fcfcfc;
}
.am-modal-button-group-v .am-modal-button{
  color: #ffab00;
}
