@import "../../../styles/s_common.scss";

.czjf {
  background: $bg-ff;
  height: 100%;
  .banner {
    width: 100%;
  }
  .service-list {
    overflow: hidden;
    @include s_border_b;
    margin-bottom: 10px;
    li {
      width: 50%;
      float: left;
      @include s_border_b;
      position: relative;
      &:last-of-type {
        border-bottom: none;
      }
      img {
        float: left;
        @include s_blockDemo(auto, 40px);
        margin-left: 50px;
        margin-right: 45px;
        margin-top: 45px;
      }
      p {
        &:nth-of-type(1) {
          float: left;
          @include s_fontDemo(32px, 130px, $font-33);
        }
        &:nth-of-type(2) {
          @include s_middle;
          right: 0;
          @include s_blockDemo(1px, 87px);
          background: #e5e5e5;
        }
      }
    }
  }
  .tips {
    @include s_fontDemo(24px, 33px, $font-99);
    padding: 0 30px 30px;
  }
}
