@import "../../../styles/s_common.scss";

@mixin spanIcon {
  display: inline-block;
  @include s_fontDemo(20px, 28px, $font-ff);
  padding: 0 5px;
  background: #999;
  text-align: center;
  margin-left: 10px;
}

.app {
  -webkit-overflow-scrolling: touch !important;
  .header {
    @include s_border_b;
    background: $bg-ff;
    z-index: 11;
    .position {
      overflow: hidden;
      width: 350px;
      p, .am-icon {
        float: left;
      }
      p {
        @include s_fontDemo(32px, 44px, $font-33);
        margin-right: 10px;
        max-width: 300px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .am-icon {
        -webkit-transform: translateY(7px);
                transform: translateY(7px);
      }
    }
  }
  .selector {
    @include s_border_b;
    background: $bg-ff;
    z-index: 11;
    position: relative;
    height: 80px;
    li.container {
      height: 80px;
      float: left;
      width: 33.3333333%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      p {
        @include s_fontDemo(26px, 44px, $font-33);
      }
      &.active {
        p, .am-icon {
          color: $theme;
        }
      }
    }
  }
  .goods {
    overflow: hidden;
    height: calc(100% - 393px);
    .no-data {
      padding-top: 300px;
      background: none;
      img {
        display: block;
        margin: 0 auto;
        width: 160px;
      }
      p {
        @include s_fontDemo(28px, 40px, $font-99);
        text-align: center;
      }
    }
  }

  /* 公共组件样式更改*/
  .empty-container {
    z-index: 1 !important;
  }
}

.dj-select-times {
  overflow: hidden;
  ul {
    width: 50%;
    height: 480px;
    float: left;
    background: $bg-ff;
    overflow: auto;
    li {
      height: 80px;
      padding-left: 60px;
      box-sizing: border-box;
      @include s_fontDemo(24px, 80px, $font-33);
      &.active {
        color: $theme;
        background: $bg-ff;
      }
    }
  }
  .dates {
    background: #e5e5e5;
    li span {
      @include spanIcon;
    }
  }
  .times li {
    @include s_border_b;
    position: relative;
    p {
      display: inline-block;
      span {
        @include spanIcon;
      }
    }
    .am-icon {
      @include s_middle;
      right: 30px;
    }
  }
}

.dj-select-sort {
  overflow: hidden;
  background: $bg-ff;
  li {
    height: 80px;
    padding-left: 53px;
    box-sizing: border-box;
    @include s_border_b;
    @include s_fontDemo(28px, 80px, $font-99);
    position: relative;
    &.active {
      color: $theme;
    }
    .am-icon {
      @include s_middle;
      right: 30px;
    }
  }
}


/* 公共组件样式*/
.slide-page-container.info.selector-mask {
  background: none;
  height: auto;
}

.wrap, .wrap .list {
  height: -webkit-fill-available;
}
