@import "../../../styles/s_common.scss";

.business {
  .header {
    background: $bg-ff;
    margin-bottom: 20px;
    .banner-img {
      height: 516px;
      display: block;
      margin: 0 auto;
    }
    .brand-info {
      overflow: hidden;
      padding: 10px 23px;
      @include s_border_b;
      img {
        float: left;
        @include s_blockDemo(80px, 80px);
        margin-right: 18px;
      }
      .right {
        float: left;
        h1 {
          @include s_fontDemo(28px, 40px, $font-33);
          font-weight: normal;
          margin-bottom: 6px;
        }
        p {
          @include s_fontDemo(24px, 33px, $font-66);
        }
      }
    }
    .brand-num {
      padding-top: 5px;
      padding-bottom: 8px;
      @include s_border_b;
      .am-flexbox-item {
        text-align: center;
        .top {
          @include s_fontDemo(28px, 40px, $font-33);
        }
        .bottom {
          @include s_fontDemo(20px, 28px, $font-99);
        }
        &.server-count {
          @include s_border_r;
        }
      }
    }
  }


  .s-label {
    margin-bottom: 0;
    @include s_border_b;
  }

  .user-comment.am-list-item {
    margin-bottom: 20px;
   .am-list-line{
     .am-list-content {
       font-size: 28px;
       color: $font-33;
     }
     .am-list-extra {
       font-size: 20px;
       color: $font-66;
     }
   }
  }
}
