@import "../../../styles/s_common.scss";

.comment-item {
  .comment-header {
    padding: 10px 23px 0;
    background: $bg-ff;
    @include s_border_b;
    .comment-info {
      @include s_fontDemo(28px, 60px, $font-66);
      margin-bottom: 20px;
      p, span {
        float: left;
      }
      .user-icon {
        @include s_blockDemo(60px, 60px);
        background: #000;
        border-radius: 100%;
        margin-right: 23px;
      }
      span {
        margin-right: 20px;
      }
    }
    .comment-time {
      @include s_fontDemo(20px, 28px, $font-99);
      margin-bottom: 10px;
    }
    .comment-content {
      @include s_fontDemo(24px, 32px, $font-33);
      @include s_border_b;
      margin-bottom: 10px;
      .text {
        margin-bottom: 22px;
      }
      div p {
        @include s_blockDemo(226px, 226px);
      }
    }
    .comment-address {
      @include s_fontDemo(20px, 50px, $font-99);
    }

    /* 改变默认样式*/
    .am-flexbox-item.am-grid-item {
      margin-bottom: 20px;
    }
    .evaluationContainer {
      -webkit-transform: translateY(7px);
              transform: translateY(7px);
    }
  }
  .comment-reply {
    background: $bg-ff;
    padding-left: 23px;
    p {
      @include s_fontDemo(24px, 80px, $font-66);
      @include s_border_b;
      .am-icon {
        vertical-align: middle;
        margin-right: 15px;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
