@import "../../../styles/s_common.scss";

.search-slidePage {
  height: 100%;
  overflow: auto;
}

.index-search {
  .header {
    height: 1rem;
    line-height: 1rem;
    text-align: left;
    background-color: $bg-ff;
    padding: 0 0.16rem;
    .search-main {
      width: 85%;
      height: 0.54rem;
      border: 0.01rem solid #e4e4e5;
      border-radius: 0.08rem;
      font-size: 0.28rem;
      text-align: center;
      background-color: $bg-f3;
      display: inline-block;
      line-height: 0.54rem;
      background-image: url(/daojia/images/fangdajing.549ac6e2.png);
      background-size: 0.27rem;
      background-position: 3% center;
      background-repeat: no-repeat;
      margin-top: 0.23rem;
      display: inline-block;
      box-sizing: border-box;
      input {
        width: 80%;
        height: 100%;
        font-size: 0.28rem;
        background-color: $bg-f3;
      }
    }
  }

  .search-history {
    background: $bg-ff;
    padding-left: 25px;
    height: calc(100% - 100px);
    li {
      height: 69px;
      position: relative;
      @include s_border_b;
      @include s_fontDemo(28px, 69px, $font-33);
      &.title {
        font-size: 24px;
        color: $font-99;
      }
      .am-icon {
        @include s_middle;
        right: 30px;
      }
    }
    .footer {
      height: 96px;
      text-align: center;
      position: relative;
      @include s_fontDemo(28px, 96px, $font-99);
      .am-icon {
        vertical-align: middle;
        margin-right: 10px;
        -webkit-transform: translateY(-4px);
                transform: translateY(-4px);
      }
    }
  }

  .search-result {
    .title {
      padding-left: 23px;
      @include s_fontDemo(20px, 60px, $font-99);
    }
  }
}
