@import "../../../styles/s_common.scss";

.time-select {
  .tab-name {
    h1 {
      @include s_fontDemo(30px, 42px, $font-33);
      text-align: center;
      font-weight: normal;
      span {
        float: right;
        @include s_fontDemo(20px, 28px, $font-ff);
        background: $font-99;
        padding: 0 3px;
        margin-top: 7px;
      }
    }
    p {
      @include s_fontDemo(20px, 28px, $font-33);
      text-align: center;
    }
    &.disable {
      h1, p {
        color: $font-99;
      }
    }
  }
  .tab-content {
    overflow: hidden;
    padding-left: 25px;
    padding-top: 40px;
    li {
      @include s_blockDemo(22%, 80px);
      @include s_fontDemo(26px, 80px, $font-66);
      @include s_border;
      box-sizing: border-box;
      background: $bg-ff;
      margin-right: 3%;
      text-align: center;
      float: left;
      margin-bottom: 20px;
      position: relative;
      &.section {
        @include s_blockDemo(30.33333%, 80px);
      }
      &.disable {
        background: none;
        color: $font-99;
      }
      span {
        position: absolute;
        font-size: 20px;
        line-height: 28px;
        right: 3px;
        bottom: 3px;
      }
    }
  }
  /* 改变默认样式*/
  .am-tabs-bar .am-tabs-tab.am-tabs-tab-active .tab-name {
    h1, p {
      color: $theme;
    }
    span {
      background: $theme;
    }
  }
  .am-tabs-ink-bar {
    background: $theme;
  }
}
