@import "../common.scss";

.refund-info {

  .refund-info-header {
    @include s_defaultList;
    @include s_border-b;
    margin-bottom: 20px;
    span {
      &:nth-of-type(1) {
        @include s_fontDemo(28px, 87px, $font-33);
        float: left;
      }
      &:nth-of-type(2) {
        @include s_fontDemo(24px, 87px, $font-ad);
        float: right;
      }
    }
  }
  .refund-info-status {
    margin-bottom: 20px;
    p {
      @include s_defaultList;
      &.refund-info-common-header {
        @include s_fontDemo(28px, 92px, $font-33);
        @include s_border-b;
      }
      &.font-24-ad {
        padding-top: 27px;
        padding-bottom: 27px;
        @include s_fontDemo(24px, 30px, $font-ad);
      }
      &.apply-button {
        @include s_fontDemo(24px, 48px, $font-99);
        padding-bottom: 30px;
        span {
          float: right;
          border: 1px solid #e5e5e5;
          border-radius: 4px;
          width: 152px;
          height: 48px;
          margin-left: 10px;
          text-align: center;
        }
      }
    }
    .refund-info-reject {
      padding-left: 0;
      span {
        display: block;
        padding-left: 30px;
        &:nth-of-type(1) {
          @include s_fontDemo(28px, 90px, $font-33);
          @include s_border-b;
        }
        &:nth-of-type(2) {
          padding-top: 27px;
          padding-bottom: 27px;
          @include s_fontDemo(24px, 30px, $font-ad);
          a {
            color: $font-ad;
          }
        }
      }
    }
    .refund-info-amount {
      overflow: hidden;
      @include s_fontDemo(28px, 90px, $font-33);
      span {
        &:nth-of-type(1) {
          float: left;
        }
        &:nth-of-type(2) {
          float: right;
        }
      }
    }
    .express-show {
      background: $bg-ff;
      @include s_border;
      .am-list-line {
        height: auto !important;
        border-bottom: none;
      }
      p {
        padding-left: 0;
        span {
          @include s_fontDemo(24px, 30px, $font-ad);
          display: block;
          margin-bottom: 13px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
      .am-icon {
        width: 55px;
        height: 55px;
        color: #ccc;
      }
    }
  }
  .refund-info-history {
    margin-bottom: 20px;
  }
  .refund-info-detail {
    @include s_defaultList;
    padding-bottom: 30px;
    .commodity-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 30px;
      h5 {
        font-weight: normal;
        &:nth-of-type(1) {
          @include sc_img_container(152px, 152px);
          margin-right: 20px;
        }
        &:nth-of-type(2) {
          span {
            display: block;
            &:nth-of-type(1) {
              @include s_fontDemo(28px, 35px, $font-33);
              margin-bottom: 13px;
              height: 70px;
            }
            &:nth-of-type(2) {
              @include s_fontDemo(24px, 30px, $font-ad);
            }
          }
        }
      }
    }
    p {
      @include s_fontDemo(24px, 30px, $font-ad);
      &:nth-of-type(1) {
        @include s_fontDemo(28px, 88px, $font-33);
        margin-bottom: 0px;
      }
    }
  }
  .am-grid.am-grid-line .am-flexbox {
    margin-bottom: 20px;
    &:after {
      border-bottom: none;
    }
    .am-flexbox-item {
      margin-right: 20px;
      @for $i from 1 to 10{
        &:nth-of-type(#{$i*4}){margin-right:0;}
      }
      .am-grid-item-content {
        overflow: hidden;
        img {
          height: 100%;
          width: auto;
          @include s_allCenter;
        }
      }
    }
  }
}
