@mixin s_middle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform:translateY(-50%);     /* IE 9 */
    -moz-transform:translateY(-50%);    /* Firefox */
    -webkit-transform:translateY(-50%); /* Safari 和 Chrome */
    -o-transform:translateY(-50%);
}
@mixin s_allCenter{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform:translateX(-50%) translateY(-50%);     /* IE 9 */
    -moz-transform:translateX(-50%) translateY(-50%);    /* Firefox */
    -webkit-transform:translateX(-50%) translateY(-50%); /* Safari 和 Chrome */
    -o-transform:translateX(-50%) translateY(-50%);
}

/*块元素模版，参数对应：$w对应宽，$h对应高，*/
@mixin s_blockDemo ($w, $h) {
    width: $w;
    height: $h;
}

@mixin s_fontDemo ($size, $l, $clr) {
    font-size: $size;
    line-height: $l;
    color: $clr;
}

/* img的容器*/
@mixin sc_img_container($w, $h) {
  @include s_blockDemo($w, $h);
  position: relative;
  overflow: hidden;
  img {
    height: 100%;
    @include s_allCenter;
  }
}
