@import "./common.scss";

// image-mask中的样式
.image-list {
  background: #fff;
  @include s_middle;
  width: 100%;
  z-index: 2;
  .icon-container {
    height: 75px;
    position: relative;
    .am-icon {
      @include s_middle;
      right: 30px;
    }
  }
  .page-index {
    @include s_fontDemo(28px, 75px, #666);
    text-align: center;
  }
  .img-list-carousel {
    .slider-list {
      height: 750px !important;
      div {
        @include sc_img_container(100%, 750px);
      }
    }
    .slider-decorator-0 {
      display: none;
    }
  }
}
